<!DOCTYPE html>
<footer data-th-fragment="footer">
    <div class="container">
        <div class="row footer-color">
            <div class="col-xs-8 col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="title-footer" data-th-text="#{login.footer.our_addresses}"></h5>
                        <div class="wow fadeInDown adress" data-wow-duration="1000ms" data-wow-delay="0.3s">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Brasil</p>
                                    <p>Av Brigadeiro Faria Lima, 1982 - sala 1003
                                        <br> Jardim Paulistano. São Paulo/SP
                                        <br>
                                        <i class="lnr lnr-phone-handset"></i> +55 11 3098.9009
                                    </p>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <p>USA</p>
                                    <p>180 Sansome street
                                        <br> San Francisco - CA
                                        <br>
                                        <i class="lnr lnr-phone-handset"></i> +1 415.625.3155
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <h5 class="title-footer" data-th-text="#{login.footer.connect}"></h5>
                        <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
                            <ul>
                                <li class="linkedin">
                                    <a href="https://www.linkedin.com/company/10572552/" title="External Link: Linkedin" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/konkerlabs" title="External Link: Facebook" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/konkerlabs" title="External Link: Twitter" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com/channel/UClZsSjXogWPJEvAAiLGyS1Q" title="External Link: Youtube" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="github">
                                    <a href="https://github.com/KonkerLabs/konker-platform" title="External Link: Github" target="_blank">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                                <li class="docker">
                                    <a href="https://hub.docker.com/r/konkerlabs/konker-platform/" title="External Link: Docker" target="_blank">
                                        <img data-th-src="@{/resources/konker/images/icon-docker.png}" width="20px">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
                        <p>All copyrights reserved &copy; 2015- Konker </p>
                    </div>
                </div>
            </div>
        </div>
</footer>







