<!DOCTYPE html>
<div data-th-fragment="header">
    <div class="container">
        <div class="line-menu">
            <div class="logo-menu">
                <a href="#" rel="home" id="logo-menu">
                    <img data-th-src="@{/resources/konker/images/konker-logo-mono.svg}" alt="Logo: Konker IoT Platform">
                </a>
            </div>
            <div class="buttons-menu">
                <div class="button-platform">
                    <a href="https://logistica.demo.konkerlabs.net/" target="_blank">
                        <button class="btn btn-border btn-enter-platform pull-right"> DEMO </button>
                    </a>
                    <button class="btn btn-border btn-demo pull-right">
                        <a href="https://demo.konkerlabs.net/registry/subscription/" target="_blank">LOGIN</a>
                    </button>
                </div>
                <div class="buttons-control">
                    <button class="menu-button" id="open-button">
                        <i class="lnr lnr-menu"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>