<!DOCTYPE html>
<html mlns:th="http://www.thymeleaf.org">
  <head>
    <script data-th-inline="javascript" data-th-if="${hotjarEnable}">
        /*<![CDATA[*/
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:/*[[${hotjarId}]]*/,hjsv:5};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        /*]]>*/
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script data-th-if="${googleAnalyticsEnable}" async data-th-src="@{https://www.googletagmanager.com/gtag/js?id=} + ${googleAnalyticsId}"></script>
    <script data-th-if="${googleAnalyticsEnable}" data-th-inline="javascript" >
          /*<![CDATA[*/
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', [[${googleAnalyticsId}]]);
          /*]]>*/
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Konker Platform Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/konker/css/create-account.css}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/konker/css/opensans.css}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/konker/css/style2.css(v2)}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/konker/css/style-responsive.css}">

    <!-- Favicon -->
    <link rel="icon" data-th-href="@{/resources/konker/images/favicon.png}" sizes="16x16 32x32 48x48 56x56"
          type="image/vnd.microsoft.icon" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script data-th-attr="src=@{/resources/konker/scripts/html5shiv.js}" type="text/javascript"></script>
      <script data-th-attr="src=@{/resources/konker/scripts/respond.min.js}" type="text/javascript"></script>
    <![endif]-->
  </head>

  <body>
  	<nav class="navbar navbar-default navbar-static-top">
  		<div class="container">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img data-th-attr="src=@{/resources/konker/images/konker-principal.png}" class="logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="nav navbar-nav navbar-right">
                    <a href="http://www.konkerlabs.com" class="btn-menu" data-th-text="#{login.gotosite}"></a>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page">
	  	<div class="container">
            <div class="loginaligin">
                <label class="titlelogin" data-th-text="#{login.welcome}"></label>
            </div>

            <form id="formLogin" role="form" method="post" data-th-action="@{/login}" class="login-form">
		        <div class="login-form-heading">
                    <img data-th-attr="src=@{/resources/konker/images/konker-principal.png}" width="250px" />
                    <br> <br>
                    <h4 data-th-text="#{login.title}"></h4>
                </div>
		        <div class="login-wrap">
					
					<!-- success message -->
                    <div class="alert alert-success" role="alert" data-th-if="${message != null}">
			            <span data-th-text="${message}"></span>
			            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			                <span aria-hidden="true">&times;</span>
			            </button>
			        </div>

                    <!-- Erro de login e senha -->
                    <div id="failLogin" class="row" th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                       <div class="alert alert-danger fade in"><span th:text="${errorMsg}"></span></div>
                    </div>

                    <input type="text" class="form-control" name="username" th:placeholder="#{login.username.placeholder}" id="form-username" autofocus />

		            <br>
                    <img data-th-attr="src=@{/resources/konker/images/eye-open.svg}" id="olho" class="olho" />
                    <input type="password" name="password" th:placeholder="#{login.password.placeholder}" 
                                           class="form-control" id="form-password" />

		            <label class="checkbox"
                        data-th-if="${#lists.contains(@environment.getActiveProfiles(), 'email')}" >
		                <span class="pull-right">
		                    <a data-toggle="modal" href="login.html#senhaModal" data-th-text="#{user.forgot.password}"></a>
		                </span>
		            </label>

                    <label class="small" style="margin-top: 10px;"><span data-th-text="#{login.license.text}"></span><span>&nbsp;</span><a data-th-text="#{login.license.link_description}" th:href="@{/resources/konker/pdf/termos_de_uso_20161014a.pdf}" href="#"></a></label>
		            <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i><span>&nbsp;</span><span data-th-text="#{nav.login}"></span></button>

					<!-- Self subscription -->
					<hr class="margin-hr" data-th-if="${#lists.contains(@environment.getActiveProfiles(), 'email')}">
					
					<div class="login-subscribe" data-th-if="${#lists.contains(@environment.getActiveProfiles(), 'email')}">
					    <label class="small" data-th-text="#{login.question.account}">
					    </label>
					    <label class="small">
					    	<a data-th-href="@{/subscription/}" data-th-text="#{login.link.subscription}"></a>
					    </label>
					</div>
					<!-- --- -->
		        </div>

		      </form>

              <!-- Modal Senha -->
              <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="senhaModal" class="modal fade">
                  <div class="modal-dialog">
                    <form id="formRecoveryPassword" role="form" method="post" class="login-form-rcv" th:target="@{/recoverpassword}">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title" data-th-text="#{recover_password.title}"></h4>
                              </div><div class="">
                              <div class="modal-body">
                                  <div class="form-group login-wrap">
                                      <p data-th-text="#{recover_password.subtitle}"></p>
                                      <input type="text" name="username" th:placeholder="#{login.username.placeholder}"
                                        autocomplete="off" class="form-control placeholder-no-fix" id="form-username"/> 
                                      <p />
                                      <div id="recaptcha" class="g-recaptcha" th:data-sitekey="${recaptchaSiteKey}"
                                      data-th-if="${recaptchaEnabled}"></div>
                                      <p />
                                      <div class="alert alert-info" role="alert" id="recoverResultOk" style="display: none;">
                                        <span data-th-text="#{users.dialog.recoverpassword.success.text}"></span>
                                      </div>
                                      <div class="alert alert-danger" role="alert" id="recoverResultError" style="display: none;">
                                        <span data-th-text="#{users.dialog.recoverpassword.error.text}"></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                <div class="form-bottom">
                                  <button data-dismiss="modal" class="btn btn-default" type="button" data-th-text="#{nav.cancel}"></button>
                                  <button class="btn btn-theme" type="button" id="btnLoginSend" data-th-text="#{nav.send}"></button>
                                </div>
                              </div>
                          </div>
                        </div>
                    </form>
                  </div>
              </div>
              <!-- modal -->

	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script data-th-attr="src=@{/resources/konker/scripts/jquery-1.11.1.min.js}" type="text/javascript"></script>
    <script data-th-attr="src=@{/resources/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script data-th-attr="src=@{/resources/konker/scripts/scripts.js}" type="text/javascript"></script>
       
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script data-th-attr="src=@{/resources/konker/scripts/jquery.backstretch.min.js}" type="text/javascript"></script>

    <script>
    	$.backstretch("[[@{/resources/konker/images/login-bg-min.jpg}]]", {speed: 500});
    </script>

    <!-- SHOW PASSWORD-->
    <script>   
        document.getElementById('olho').addEventListener('mousedown', function() {
        document.getElementById('form-password').type = 'text';
        });

        document.getElementById('olho').addEventListener('mouseup', function() {
        document.getElementById('form-password').type = 'password';
        });

        // Para que o password não fique exposto apos mover a imagem.
        document.getElementById('olho').addEventListener('mousemove', function() {
        document.getElementById('form-password').type = 'password';
        });
    </script>

    <!-- recovery pass js -->
    <script src="https://www.google.com/recaptcha/api.js" async defer data-th-if="${recaptchaEnabled}"></script>
    <script data-th-inline="javascript">
        /*<![CDATA[*/
        function contextPath() {
            var context = /*[[@{/}]]*/ '/';
            return context;
        }
    
        function urlTo(path) {
            var url = (contextPath() + path).replace(/\/\//, '/'); /* avoids double slashs */
            return url;
        }
        /*]]>*/
    </script>
    <script data-th-attr="src=@{/resources/js/users/userdialog.js(v2)}"></script>

  </body>
</html>
