<!DOCTYPE html>
<div data-th-fragment="menu">
    <nav class="menu navbar">
        <div class="icon-list navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://www.konkerlabs.com/#video-area" data-th-text="#{login.nav.home}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.konkerlabs.com/#whatkonker" data-th-text="#{login.nav.konker_platform}">A Plataforma Konker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.konkerlabs.com/#portfolios" data-th-text="#{login.nav.iot_use_cases}">Casos de uso IoT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.konkerlabs.com/#konkerplatform" data-th-text="#{login.nav.features}">Funcionalidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.konkerlabs.com/#partners" data-th-text="#{login.nav.iot_partner_ecosystem}">Ecosistema de Parceiros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.konkerlabs.com/#pricing" data-th-text="#{login.nav.pricing}">Planos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://developers.konkerlabs.com" target="_blank" data-th-text="#{login.nav.developers}">Desenvolvedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.konkerlabs.com/#blog" data-th-text="#{login.nav.blog}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.konkerlabs.com/#aboutus" data-th-text="#{login.nav.about_konker}">Sobre a Konker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.konkerlabs.com/#contact" data-th-text="#{login.nav.contact}">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
    <button class="close-button" id="close-button">
        <i class="lnr lnr-cross"></i>
    </button>
</div>