<!DOCTYPE html>
<html data-layout-decorate="layouts/default" xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
		a, a:hover, a:focus {
		    color: #4aaf51;
		    text-decoration: none;
		    -o-transition: all .3s;
		    -moz-transition: all .3s;
		    -webkit-transition: all .3s;
		    -ms-transition: all .3s;
		    transition: all .3s;
		}
        .panel-edit-user {
            display: none;
        }
	</style>
</head>
<body>
<div data-layout-fragment="content" class="col-md-offset-1">
    <div>
        <h1 class="page-title" data-th-text="#{users.form.title}"></h1>
        <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul>
            <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
            </ul>
        </div>
        <div class="alert alert-success" role="alert" data-th-if="${message != null}">
            <span data-th-text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <form data-th-action="@{__${action}__}" data-th-object="${user}"
          method="post" class="form-horizontal">

        <input type="hidden" name="_method" data-th-value="${method}" data-th-if="${method != null}"/>

        <div class="panel-user-fields">
            <div class="col-md-12">
                <div class="col-md-2 col-sm-6 col-xs-5">
                    <img data-th-src="*{avatar}"
                         data-th-if="*{avatarUploadEnabled}"
                         class="avataraccount img-responsive">
                </div>
                <div class="col-md-7 col-sm-5 pull-left panel-view-user">
                    <div>
                        <h2 data-th-text="#{users.form.photo.yourphoto}">Sua foto</h2>
                    </div>
                    <div class="row paddingrow">
                        <button type="button" class="btn-inline btn btn-theme btn-edit-user" data-th-text="#{users.form.photo.change}">Trocar foto</button>
                    </div>
                    <br />
                </div>
                <div class="col-md-7 col-sm-5 pull-left panel-edit-user">
                    <div>
                        <h2 data-th-text="#{users.form.photo.yourphoto}">Sua foto</h2>
                    </div>
                    <div class="row paddingrow">
                        <p class="obs" data-th-text="#{users.form.photo.specification}">Sua imagem deve conter o
                            tamamho máximo de 2mb e 500x500px.</p>
                    </div>
                    <div class="form-group">
                        <input type="file"
                               class="btn btn-default btn-file"
                               id="filePicker"
                               data-th-if="*{avatarUploadEnabled}"
                               />
                        <input type="hidden"
                               name="avatar"
                               id="avatar"
                               data-th-if="*{avatarUploadEnabled}"
                               />
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-theme"  data-th-text="#{nav.save}">Salvar alterações</button>
                        <button type="button" class="btn btn-default btn-cancel-edit-user" data-th-text="#{nav.cancel}">Cancelar</button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        
        <div class="section-dvision btvertical"></div>

        <div class="panel-user-fields">
            <div class="row section-dvision btvertical panel-view-user">
                <div class="col-md-5 col-xs-12 pull-left">
                    <div class="row">
                        <h2 class="subtitle-page" data-th-text="#{users.form.account}"></h2>
                    </div>
                    <div class="row">
                        <p><span data-th-text="#{users.form.email}"></span>: <span data-th-text="*{email}"></span></p>
                        <p><span data-th-text="#{users.form.name}"></span>: <span data-th-text="*{name}"></span></p>
                        <p><span data-th-text="#{users.form.phone}"></span>: <span data-th-text="*{phone}"></span></p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">          
                    <button type="button" class="btn btn-theme btn-act btn-edit-user" data-th-text="#{nav.edit}">Editar</button>
                </div>
            </div>

            <div class="row section-dvision btvertical panel-edit-user">
                <div class="col-xs-12 pull-left">
                    <div class="row">
                        <h2 class="subtitle-page" data-th-text="#{users.form.account}"></h2>
                    </div>
                    <div class="col-md-5 pull-left">
                        <p>
                            <label class="control-label"
                               data-th-text="#{users.form.email}"
                               for="email-show"></label>
                            <input data-th-disabled=true class="form-control"
                                   type="text"
                                   id="email-show"
                                   name="email-show"
                                   data-th-value="*{email}"/>
                            <input type="hidden" data-th-value="*{email}" name="email"/>
                        </p>
                        <p>
                            <label class="control-label"
                               data-th-text="#{users.form.name}"
                               for="name"></label>
                            <input class="form-control"
                                   type="text"
                                   id="name"
                                   name="name"
                                   data-th-value="*{name}"
                                   data-th-placeholder="#{users.form.name.placeholder}"/>
                        </p>
                        <p>
                            <label class="control-label"
                               data-th-text="#{users.form.phone}"
                               for="phone"></label>
                            <input class="form-control"
                                   type="text"
                                   id="phone"
                                   name="phone"
                                   data-th-value="*{phone}"
                                   data-th-placeholder="#{users.form.phone.placeholder}"/>
                        </p>
                        <div class="row">
                            <button type="submit" class="btn btn-theme"  data-th-text="#{nav.save}">Salvar alterações</button>
                            <button type="button" class="btn btn-default btn-cancel-edit-user" data-th-text="#{nav.cancel}">Cancelar</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-user-fields">
            <div class="row section-dvision btvertical panel-view-user">
                <div class="col-md-5 col-xs-12 pull-left">
                    <div class="row">
                        <h2 class="subtitle-page" data-th-text="#{users.form.password}"></h2>
                    </div>
                    <div class="row">
                        <p><span data-th-text="#{users.form.password}"></span><span>: </span><span>**********************</span></p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">          
                    <button type="button" class="btn btn-theme btn-act btn-edit-user" data-th-text="#{nav.edit}">Editar</button>
                </div>
            </div>

            <div class="row section-dvision btvertical panel-edit-user">
                <div class="col-xs-12 pull-left">
                     <div class="row">
                        <h2 class="subtitle-page" data-th-text="#{users.form.password}"></h2>
                    </div>
                    <div class="row col-md-5 pull-left">
                        <p>
                            <label class="control-label"
                                   data-th-text="#{users.form.password-old}"
                                   for="old-password"></label>
                            <input type="password"
                                   class="form-control"
                                   id="old-password"
                                   name="oldPassword"
                                   data-th-placeholder="#{users.form.password-old.placeholder}"/>
                        </p>
                        <p>
                            <label class="control-label"
                                   data-th-text="#{users.form.password-new}"
                                   for="new-password"></label>
                            <input type="password"
                                   class="form-control"
                                   id="new-password"
                                   name="newPassword"
                                   data-th-placeholder="#{users.form.password-new.placeholder}"/>
                        </p>
                        <p>
                            <label class="control-label"
                                   data-th-text="#{users.form.password-confirm}"
                                   for="password-confirmation"></label>
                            <input type="password"
                                   class="form-control"
                                   id="password-confirmation"
                                   name="newPasswordConfirmation"
                                   data-th-placeholder="#{users.form.password-confirm.placeholder}"/>
                            <a id="recoverPassword" 
                                th:href="@{/recoverpassword}" 
                                th:if="${@environment.getActiveProfiles().length != 0 && #lists.contains(@environment.getActiveProfiles(), 'email')}"
                                href="#">
                                <span data-th-text="#{user.forgot.password}">Forgot password</span>
                            </a>
                        </p>
                        <div class="row">
                            <button type="submit" class="btn btn-theme"  data-th-text="#{nav.save}">Salvar alterações</button>
                            <button type="button" class="btn btn-default btn-cancel-edit-user" data-th-text="#{nav.cancel}">Cancelar</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-user-fields">
            <div class="row section-dvision btvertical panel-view-user">
                <div class="col-md-5 col-xs-12 pull-left">
                    <div class="row">
                        <h2 class="subtitle-page" data-th-text="#{users.form.preferences.title}"></h2>
                    </div>
                    <div class="row">
                        <p><span data-th-text="#{users.form.preferences.language}"></span><span>: </span><span data-th-text="#{*{language.code}}"></span></p>
                        <p><span data-th-text="#{users.form.preferences.timezone}"></span><span>: </span><span data-th-text="#{*{zoneId.code}}"></span></p>
                        <p><span data-th-text="#{users.form.preferences.dateformat}"></span><span>: </span><span data-th-text="#{*{dateFormat.code}}"></span></p>
                        <p data-th-if="*{notificationViaEmail}"><span data-th-text="#{users.form.notification.email}"></span><span>: </span><span data-th-text="#{users.form.preferences.mail.notifications.yes}"></span></p>
                        <p data-th-if="*{not notificationViaEmail}"><span data-th-text="#{users.form.notification.email}"></span><span>: </span><span data-th-text="#{users.form.preferences.mail.notifications.no}"></span></p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">          
                    <button type="button" class="btn btn-theme btn-act btn-edit-user" data-th-text="#{nav.edit}">Editar</button>
                </div>
            </div>

            <div class="row section-dvision btvertical panel-edit-user">
                <div class="col-md-5 col-xs-12 pull-left">
                    <div class="row">
                        <h2 class="subtitle-page" data-th-text="#{users.form.preferences.title}"></h2>
                    </div>
                    <div class="row">
                        <p>
                            <label class="control-label"
                                   data-th-text="#{users.form.preferences.language}"
                                   for="language"></label>
                            <select data-th-field="*{language}"
                                    id="language"
                                    name="language"
                                    class="col-md-12"
                                    data-th-placeholder="#{users.form.preferences.language.placeholder}">
                                <option data-th-each="language: ${languages}" data-th-text="#{${language.code}}"
                                        data-th-value="${language}"
                                        data-th-sele></option>
                            </select>
                        </p>
                        <p>
                            <label class="control-label"
                                   data-th-text="#{users.form.preferences.timezone}"
                                   for="timezone"></label>
                            <select data-th-field="*{zoneId}"
                                    id="timezone"
                                    name="timezone"
                                    class="col-md-12"
                                    data-th-placeholder="#{users.form.preferences.timezone.placeholder}">
                                <option data-th-each="timezone: ${timezones}" data-th-text="#{${timezone.code}}"
                                        data-th-value="${{timezone}}"></option>
                            </select>
                        </p>
                        <p>
                            <label class="control-label"
                                   data-th-text="#{users.form.preferences.dateformat}"
                                   for="dateformat"></label>
                            <select data-th-field="*{dateFormat}"
                                    id="dateformat"
                                    name="dateformat"
                                    class="col-md-12"
                                    data-th-placeholder="#{users.form.preferences.dateformat.placeholder}">
                                <option data-th-each="dateformat: ${dateformats}" data-th-text="#{${dateformat.code}}"
                                        data-th-value="${dateformat}"></option>
                            </select>
                        </p>
                        <p>
                            <label class="control-label"
                                data-th-text="#{users.form.notification.email}"
                                for="notificationViaEmail">Receive
                                notifications via email</label>
                            <span class="radio col-md-offset-1">
                                <input type="radio" name="notificationViaEmail" value="true"  data-th-checked="${user.notificationViaEmail}" data-th-text="#{users.form.preferences.mail.notifications.yes}"><br>
                            </span>
                            <span class="radio col-md-offset-1">
                                <input type="radio" name="notificationViaEmail" value="false" data-th-checked="${not user.notificationViaEmail}" data-th-text="#{users.form.preferences.mail.notifications.no}"><br>
                            </span>
                        </p>
                        <div class="row">
                            <button type="submit" class="btn btn-theme"  data-th-text="#{nav.save}">Salvar alterações</button>
                            <button type="button" class="btn btn-default btn-cancel-edit-user" data-th-text="#{nav.cancel}">Cancelar</button>
                        </div>
                        <br />
                    </div>
                </div>
    	    </div>
        </div>

        <div class="panel-user-fields">
            <div class="row section-dvision btvertical panel-view-user">
                <div class="col-md-5 col-xs-12 pull-left">
                    <div class="row">
                        <h2 class="subtitle-page" data-th-text="#{users.form.tenantconfig.title}"></h2>
                    </div>
                    <div class="row">
                        <p><span data-th-text="#{users.form.tenantconfig.loglevel}"></span><span>: </span><span data-th-text="#{*{logLevel.code}}"></span></p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">          
                    <button type="button" class="btn btn-theme btn-act btn-edit-user" data-th-text="#{nav.edit}">Editar</button>
                </div>
            </div>

            <div class="row section-dvision btvertical panel-edit-user">
                <div class="col-xs-12 pull-left">
                    <div class="row">
                        <h2 class="subtitle-page" data-th-text="#{users.form.tenantconfig.title}"></h2>
                    </div>
                    <div class="col-md-5 pull-left">
                        <p>
                            <label class="control-label"
                                   data-th-text="#{users.form.tenantconfig.loglevel}"
                                   for="loglevel"></label>
                            <span style="display: block;">
                                <select data-th-field="*{logLevel}"
                                        class="col-md-10"
                                        id="loglevel"
                                        name="loglevel"
                                        data-th-placeholder="#{users.form.tenantconfig.loglevel.placeholder}">
                                    <option data-th-each="loglevel: ${loglevels}" data-th-text="#{${loglevel.code}}"
                                            data-th-value="${loglevel}"></option>
                                </select>
                                <button type="button" class="btn btn-default" aria-label="Help" data-toggle="modal" data-target="#logLevelInfoModal">
                                    <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </button>
                            </span>
                        </p>
                        <div class="row">
                            <button type="submit" class="btn btn-theme"  data-th-text="#{nav.save}">Salvar alterações</button>
                            <button type="button" class="btn btn-default btn-cancel-edit-user" data-th-text="#{nav.cancel}">Cancelar</button>
                        </div>
                        <div class="modal fade" id="logLevelInfoModal" tabindex="-1" role="dialog"
                                        aria-labelledby="logLevelInfoModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="logLevelInfoModalLabel"><span data-th-text="#{users.form.tenantconfig.loglevel.help}"></span></h4>
                                    </div>
                                    <div class="modal-body">
                                    <div><span data-th-text="#{users.form.tenantconfig.loglevel.text}"></span><span>:</span></div>
                                    <p />
                                    <ul>
                                        <li><span data-th-text="#{loglevels.all}" style="font-weight: bold;"></span>: <span data-th-text="#{users.form.tenantconfig.loglevel.all}"></span></li>
                                        <li><span data-th-text="#{loglevels.warning}" style="font-weight: bold;"></span>: <span data-th-text="#{users.form.tenantconfig.loglevel.warning}"></span></li>
                                        <li><span data-th-text="#{loglevels.info}" style="font-weight: bold;"></span>: <span data-th-text="#{users.form.tenantconfig.loglevel.info}"></span></li>
                                        <li><span data-th-text="#{loglevels.disabled}" style="font-weight: bold;"></span>: <span data-th-text="#{users.form.tenantconfig.loglevel.disabled}"></span></li>
                                    </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal" data-th-text="#{nav.close}"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">          
                        <button type="button" class="btn btn-theme btn-act btn-edit-user" data-th-text="#{nav.edit}">Editar</button>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>
<div data-layout-fragment="script">
    <script data-th-attr="src=@{/resources/js/users/form.js(v2)}"></script>
</div>
</body>
</html>