<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div data-th-fragment="dialogs" id="dialogs">
    <div class="modal" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
        	<div class="modal-content">
            	<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 data-th-text="#{users.dialog.recoverpassword.title}">Recover Password</h3>
               	</div>
                <div class="modal-body">
                	<p data-th-text="#{users.dialog.recoverpassword.success.text}">The link to reset your password will be sent to email</p>
              	</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" aria-hidden="true" 
                    	class="btn btn-default" data-th-text=#{users.dialog.recoverpassword.btnclose}>Close</button>
              	</div>
     		</div>
    	</div>
  	</div>
  	
  	<div class="modal" id="noExistUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
        	<div class="modal-content">
            	<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 data-th-text="#{users.dialog.recoverpassword.title}">Recover Password</h3>
               	</div>
                <div class="modal-body">
                	<p data-th-text="#{users.dialog.recoverpassword.error.text}">User does not exist</p>
              	</div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" aria-hidden="true" 
                    	class="btn btn-default" data-th-text=#{users.dialog.recoverpassword.btnclose}>Close</button>
              	</div>
     		</div>
    	</div>
  	</div>
	 
	<div data-layout-fragment="script">
		<script data-th-attr="src=@{/resources/konker/scripts/jquery-1.11.1.min.js}" type="text/javascript"></script>
    	<script data-th-attr="src=@{/resources/js/users/userdialog.js}"></script>
	</div>
</div>
</body>
</html>