target
.idea/
**/*.iml
**/.settings
**/.classpath
/.gitignore
**/.project
/konker.registry/src/main/resources/application.conf
/konker.registry.web/src/main/resources/application.conf
/konker.registry.api/src/main/resources/application.conf
/konker.registry.data/src/main/resources/application.conf
/konker.scripts/docker/build/application.conf
**/env/*
*.pydevproject
**/*.pyc
**/*.swp
