<!DOCTYPE html>
<html data-layout-decorator="layouts/default">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset>
        <legend>Routes</legend>
        <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
        </div>
        <form data-th-action="@{{url}(url=${action})}" action="#" data-th-object="${route}"
              method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label" for="name">Name</label>
                <div class="col-sm-4">
                    <input type="text" data-th-field="*{name}"
                           class="form-control"
                           id="name"
                           name="name" placeholder="Type your route name here..."/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="description">Description</label>
                <div class="col-sm-6">
                    <textarea id="description" class="form-control" name="description"
                              placeholder="Type some about your device (optional)" data-th-field="*{description}">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="incomingAuthority">Incoming Device</label>
                <div class="col-sm-4">
                    <select class="form-control" data-th-field="*{incomingAuthority}"
                        id="incomingAuthority" name="incomingAuthority">
                        <option data-th-each="device : ${allDevices}"
                                data-th-value="${device.deviceId}"
                                data-th-text="${device.deviceId + ' - ' + device.name}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="incomingChannel">Incoming channel</label>
                <div class="col-sm-4">
                    <input type="text" data-th-field="*{incomingChannel}"
                           class="form-control"
                           id="incomingChannel"
                           name="incomingChannel" placeholder="Type your incoming device's channel here..."/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 radio control-label">Outgoing type</label>
                <div class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" name="outgoingScheme"
                               value="device" data-th-checked="*{outgoingScheme == 'device'}">Devices</input>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="outgoingScheme"
                               value="sms" data-th-checked="*{outgoingScheme == 'sms'}">SMS</input>
                    </label>
                    <img data-th-src="@{/resources/konker/images/loading.gif}" id="loading" class="ajax-loading"/>
                </div>
            </div>
            <div id="outgoingFragment">
                <data-th-block data-th-include="routes/device-outgoing :: outgoing"
                               data-th-if="*{outgoingScheme == 'device'}">
                </data-th-block>
                <data-th-block data-th-include="routes/sms-outgoing :: outgoing"
                               data-th-if="*{outgoingScheme == 'sms'}">
                </data-th-block>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="filteringExpression">Filtering expression</label>
                <div class="col-sm-7">
                    <input type="text" data-th-field="*{filteringExpression}"
                           class="form-control"
                           id="filteringExpression"
                           name="filteringExpression" placeholder="Type an Expression Language to filter incoming events. Json payload values can be accessed via: #root[field name]."/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="transformation">Transformation chain</label>
                <div class="col-sm-4">
                    <select class="form-control" data-th-field="*{transformation}"
                            id="transformation" name="transformation">
                        <option data-th-value="${''}"
                                data-th-text="${'Select a transformation'}"></option>
                        <option data-th-each="trans : ${allTransformations}"
                                data-th-value="${trans.id}"
                                data-th-text="${trans.name}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="active">Active?</label>
                <div class="col-sm-4">
                    <input type="checkbox" data-th-field="*{active}"
                           id="active"
                           name="active"/>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <a data-th-href="@{/routes}" class="btn btn-default">Back</a>
        </form>
    </fieldset>
</div>
<div data-layout-fragment="script">
    <script data-th-attr="src=@{/resources/js/routes/form.js}"></script>
</div>
</body>
</html>