<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset>
        <div>
            <h1 class="page-title" data-th-text="#{routes.index.legend}"></h1>
        </div>
        <div class="alert alert-success" role="alert" data-th-if="${message != null}">
            <span data-th-text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <a data-th-href="@{/routes/new}"
           data-th-if="${not allDevices.empty}"
           data-th-text="#{nav.new}"
           class="btn btn-default action pull-right"></a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-md-2" data-th-text="#{routes.index.name}"></th>
                <th class="col-md-1" data-th-text="#{routes.index.incoming.type}"></th>
                <th class="col-md-2" data-th-text="#{routes.index.incoming.id}"></th>
                <th class="col-md-1" data-th-text="#{routes.index.outgoing.type}"></th>
                <th class="col-md-2" data-th-text="#{routes.index.outgoing.id}"></th>
                <th class="col-md-1" data-th-text="#{routes.index.active}"></th>
                <th class="col-md-1 text-center" data-th-text="#{routes.index.actions}"></th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="route : ${routes}">
                <td data-th-text="${route.name}"></td>
                <td data-th-text="#{routes.index.incoming. + __${route.incoming.uri.scheme}__}"></td>
                <td data-th-text="${route.incoming.displayName}"></td>
                <td data-th-text="#{routes.index.outgoing. + __${route.outgoing.uri.scheme}__}"></td>
                <td data-th-text="${route.outgoing.displayName}"></td>
                <td>
                    <img data-konker-enabled-img="${route.active}"></img>
                </td>
                <td class="text-center">
                    <!--   <a data-th-href="@{/routes/{id}(id=${route.guid})}"
                       data-th-text="#{nav.show}"
                       class="btn btn-default">
                    </a>
                     -->
                    <a data-th-href="@{/routes/{id}/edit(id=${route.guid})}"
                       data-th-text="#{nav.edit}"
                       class="btn btn-default">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</div>
</body>
</html>