<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div data-th-fragment="outgoing">
    <div class="form-group">
        <label class="col-sm-1 control-label"
               data-th-text="#{routes.rest-outgoing.destination}"
               for="outgoingRestDestinationGuid">REST Destination</label>
        <div class="col-sm-4">
            <select class="col-md-12" data-th-field="${route.outgoing.authorityId}"
                    id="outgoingRestDestinationGuid" name="outgoingRestDestinationGuid">
                <option data-th-each="restDestination : ${allRestDestinations}"
                        data-th-value="${restDestination.guid}"
                        data-th-text="${restDestination.name}"></option>
            </select>
        </div>
    </div>
</div>
</body>
</html>