<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div data-th-fragment="outgoing">
    <div class="form-group">
        <label class="col-sm-1 control-label" for="outgoingSmsDestinationGuid">SMS Destination</label>
        <div class="col-sm-4">
            <select class="form-control" data-th-field="${route.outgoingSmsDestinationGuid}"
                    id="outgoingSmsDestinationGuid" name="outgoingSmsDestinationGuid">
                <option data-th-each="smsDestination : ${allSmsDestinations}"
                        data-th-value="${smsDestination.guid}"
                        data-th-text="${smsDestination.name}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">SMS Text</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" name="outgoingSmsMessageStrategy"
                       value="forward" data-th-checked="${route.outgoingSmsMessageStrategy == 'forward'}">Forward Message</input>
            </label>
            <label class="radio-inline">
                <input type="radio" name="outgoingSmsMessageStrategy"
                       value="custom" data-th-checked="${route.outgoingSmsMessageStrategy == 'custom'}">Custom Template</input>
            </label>
        </div>
    </div>
    <div class="form-group">
          <label class="col-sm-1 control-label" for="outgoingSmsMessageTemplate">Custom SMS Template</label>
          <div class="col-sm-4">
              <textarea id="outgoingSmsMessageTemplate" class="form-control" name="outgoingSmsMessageTemplate"
                        placeholder="Type your custom text here..."
                        data-th-text="${route.outgoingSmsMessageTemplate}" 
                        data-th-disabled="${route.outgoingSmsMessageStrategy == 'forward'}"
                        disabled="disabled">
                        Custom Template
              </textarea>
          </div>
    </div>
</div>
</body>
</html>