<!DOCTYPE html>
<html data-layout-decorate="layouts/default"
    xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div data-layout-fragment="content">
        <fieldset>
            <div>
                <h1 class="page-title" data-th-text="#{tenants.log.form.legend}"></h1>
            </div>

            <div class="alert alert-success" role="alert"
                data-th-if="${message != null}">
                <span data-th-text="${message}"></span>
                <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div>
                <a
                    data-th-href="@{/tenants/log(asc=${asc})}"
                    class="mb btn btn-theme action pull-right">
                    <img data-th-src="@{/resources/konker/images/icons-bt/refresh-icon-bt-01.svg}" class="bt-icon">
                    <span data-th-text="#{tenants.log.form.refresh}"></span>
                </a>
                <span class="pull-right">&nbsp;</span>
                <a 
                    data-th-href="@{/tenants/log(asc=true)}"
                    data-th-if="${not asc}"
                    class="mb btn btn-theme action pull-right"> <span
                    class="glyphicon glyphicon glyphicon-sort-by-alphabet-alt"
                    aria-hidden="true"></span>
                </a>
                <a 
                    data-th-href="@{/tenants/log(asc=false)}"
                    data-th-if="${asc}"
                    class="mb btn btn-theme action pull-right"> <span
                    class="glyphicon glyphicon glyphicon-sort-by-alphabet"
                    aria-hidden="true"></span>
                </a>
            </div>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-md-2"
                            data-th-text="#{tenants.log.form.time}"></th>
                        <th class="col-md-2"
                            data-th-text="#{tenants.log.form.level}"></th>
                        <th class="col-md-8"
                            data-th-text="#{tenants.log.form.message}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="log : ${logs}">
                        <td
                            data-th-text="${@dateToStringConverter.convert(log.time)}"></td>
                        <td data-th-text="${log.level}"></td>
                        <td data-th-text="${log.message}"></td>
                    </tr>
                </tbody>
            </table>
            
            <div th:if="${#lists.isEmpty(logs)}">
                <span data-th-text="#{tenants.log.form.no_log_warning}"></span>&nbsp;<a data-th-href="@{/me}" data-th-text="#{tenants.log.form.click_here}">Clique aqui</a>.
            </div>
            
        </fieldset>
    </div>
</body>
</html>