<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script data-th-inline="javascript" data-th-if="${hotjarEnable}">
        /*<![CDATA[*/
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:/*[[${hotjarId}]]*/,hjsv:5};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        /*]]>*/
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Dashboard" />
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />

    <title>Konker Platform</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" data-th-href="@{/bootstrap/css/bootstrap.min.css}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" data-th-href="@{/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" data-th-href="@{/konker/css/opensans.css}" />
    <link rel="stylesheet" type="text/css" data-th-href="@{/konker/css/style2.css(v3)}" />
    <link rel="stylesheet" type="text/css" data-th-href="@{/konker/css/style-responsive.css}" />

    <!-- Favicon -->
    <link rel="icon" data-th-href="@{/konker/images/favicon.png}" sizes="16x16 32x32 48x48 56x56"
          type="image/vnd.microsoft.icon" />

    <link data-th-href="@{/konker/css/toggle-switch.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script data-th-attr="src=@{/konker/scripts/html5shiv.js}" type="text/javascript"></script>
    <script data-th-attr="src=@{/konker/scripts/respond.min.js}" type="text/javascript"></script>
    <![endif]-->
</head>


<body>

<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <!--
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        -->
        <!--logo start-->
        <a data-th-href="@{/}" class="logo"><img data-th-attr="src=@{/konker/images/konker-principal2.png}" alt="Konker" title="Konker" width="120px" /></a>
        <!--logo end-->
        <div class="nav notify-row pull-right" id="top_menu">

            <!-- User alerts -->
            <ul class="user-info user-alert-info pull-right">

                <!-- Notifications -->
                <li>
                    <a data-th-href="@{/notifications}">
                        <img id="notification-icon-off" data-th-attr="src=@{/konker/images/alert-1.svg}" width="35px" />
                        <img id="notification-icon-on" data-th-attr="src=@{/konker/images/alert-2.svg}" width="35px" style="display: none;" />
                    </a>
                </li>
                <!-- /notifications -->

            </ul>
            <!-- /user alerts -->

            <!-- User info -->
            <ul class="user-info pull-right">
                <li class="profile-info dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                        <img width="44" class="img-circle avatar" alt=""
                             data-th-attr="src=${@userAvatarPath.absolutePath}" />
                        <span data-th-text="${@user.name}"  data-th-if="${not #strings.isEmpty(@user.name)}"></span>
                        <span data-th-text="${@user.email}" data-th-if="${#strings.isEmpty(@user.name)}"></span>
                        <span class="caret"></span>
                    </a>

                    <!-- User action menu -->
                    <ul class="dropdown-menu">
                        <li><a data-th-href="@{/me}"><i class="icon-cog"></i><span data-th-text="#{nav.user.account_profile}">Conta e Perfil</span></a></li>
                        <li><a data-th-href="@{/logout}"><i class="icon-cog"></i><span class="glyphicon glyphicon-log-out"></span><span>&nbsp;</span><span data-th-text="#{nav.user.logout}">Logout</span></a></li>
                    </ul>
                    <!-- /user action menu -->

                </li>
            </ul>
            <!-- /user info -->

        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <li class="mt">
                    <span class="titlemenu">IOT</span>
                </li>

                <li class="sub-menu">
                    <a data-th-href="@{'/account/' + ${applicationId} + '/clients/'}" >
                        <img data-th-attr="src=@{/konker/images/icons-menu/icon-device.svg}" class="icon-menu"/>
                        <span data-th-text="#{nav.menu.clients}">Oauth Clients</span>
                    </a>
                    <a data-th-href="@{'/account/' + ${applicationId} + '/tokens/'}" >
                        <img data-th-attr="src=@{/konker/images/icons-menu/icon-route.svg}" class="icon-menu"/>
                        <span data-th-text="#{nav.menu.sessions}">Oauth Sessions</span>
                    </a>
                </li>
            </ul>

            <ul class="sidebar-menu subtitle" id="nav-accordion">

                <li class="sub-menu">
                    <a target="_blank" href="https://konker.atlassian.net/wiki/display/DEV/Guia+de+Uso+da+Plataforma+Konker">
                        <img data-th-attr="src=@{/konker/images/icons-menu/icon-help.svg}" class="icon-menu" />
                        <span data-th-text="#{nav.menu.help}">Ajuda</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="http://www.konkerlabs.com/#contact" target="_blank" >
                        <img data-th-attr="src=@{/konker/images/icons-menu/icon-msg.svg}" class="icon-menu" />
                        <span data-th-text="#{nav.menu.contact_us}">Fale com a gente</span>
                    </a>
                </li>

            </ul>

            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <a id="maincontenttop"></a>
            <div id="wrap">
                <div data-layout-fragment="content">
                    <fieldset>
                        <div>
                            <h1 class="page-title" data-th-text="#{clients.index.legend}"></h1>
                        </div>
                        <div class="alert alert-success" role="alert" data-th-if="${message != null}">
                            <span data-th-text="${message}"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <ul>
                                <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                                <select data-th-field="*{applicationId}"
                                        class="form-control"
                                        id="applicationId"
                                        name="method">
                                    <option data-th-each="applicationItem: *{allApplications}" data-th-text="${applicationItem.name}"
                                            data-th-value="${applicationItem.name}"></option>
                                </select>
                        </div>
                        <div>
                            <a data-th-href="@{'/account/' + ${applicationId} + '/clients/new'}"
                               class="mb btn btn-theme action pull-right">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span data-th-text="#{nav.new}"></span>
                            </a>
                        </div>

                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-2" data-th-text="#{clients.index.name}">Name</th>
                                <th class="col-md-1" data-th-text="#{clients.index.clientSecret}">Application</th>
                                <th class="col-md-1 text-center" data-th-text="#{clients.index.actions}">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="client : ${allClients}">
                                <td data-th-text="${client.clientId}"></td>
                                <td data-th-text="${client.clientSecret}"></td>
                                <td class="text-center">
                                    <a data-th-href="@{/account/{applicationName}/clients/{id}/deleteClient(id=${client.clientId}, applicationName=${client.application.name})}"
                                       class="btn btn-default confirm-delete"
                                       data-th-text="#{nav.remove}">
                                        Show
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- delete confirm modal -->
                        <div class="modal" id="removeItemModal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-alignment-helper">
                                <div class="modal-dialog modal-align-center">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            <h3 class="modal-title" data-th-text="#{nav.remove}">Remove</h3>
                                        </div>
                                        <div class="modal-body">
                                            <p data-th-text="#{clients.form.modal.remove.firstLine}"></p>
                                            <p data-th-text="#{clients.form.modal.remove.secondLine}"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="btnYes" class="btn btn-primary"
                                                    data-th-text="#{nav.yes}">Yes
                                            </button>
                                            <button type="button" data-dismiss="modal" aria-hidden="true"
                                                    class="btn btn-default" data-th-text="#{nav.no}">No
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </section>
    </section>

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer" id="footer">

        2017 <strong>Konker</strong> <span data-th-text="#{footer.all_rights_reserved}"></span>
        <a href="#maincontenttop" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>

    </footer>
    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script data-th-attr="src=@{/konker/scripts/jquery-1.11.1.min.js}" type="text/javascript"></script>
<script data-th-inline="javascript">
        /*<![CDATA[*/
            function contextPath() {
                var context = /*[[@{/}]]*/ '/';
                return context;
            }

            function urlTo(path) {
                var url = (contextPath() + path).replace(/\/\//, '/'); /* avoids double slashs */
                return url;
            }
        /*]]>*/
    </script>

<script data-th-attr="src=@{/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/bootstrap/js/moment.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/bootstrap/js/bootstrap-datetimepicker.min.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/js/notifications/status.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/js/global.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/js/clients/form.js}"></script>

<!-- page javascripts -->
<div data-layout-fragment="script">
</div>

</body>
</html>