<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset disabled="" class="form-horizontal">
        <div>
            <h1 class="page-title" data-th-text="#{destinations.rest.show.legend}"></h1>
        </div>
        <div class="alert alert-success" role="alert" data-th-if="${message != null}">
            <span data-th-text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="name" data-th-text="#{destinations.rest.show.name}">Name</label>
            <div class="col-sm-4">
                <input type="text" data-th-field="${destination.name}"
                       class="form-control"
                       id="name"
                       name="name"/>
            </div>
        </div>
        <div class="center-block">
            <div class="form-group form-group-sm">
                <div class="col-md-10 center-block">
                    <table class="table table-condensed" id="parameters">
                        <caption>
                            <strong data-th-text="#{destinations.rest.show.service_params}">Destination Parameters</strong>
                        </caption>
                        <thead>
                        <tr>
                            <th data-th-text="#{destinations.rest.show.service_params.method}">Method</th>
                            <th data-th-text="#{destinations.rest.show.service_params.URL}">URL</th>
                            <th data-th-text="#{destinations.rest.show.service_params.username}">Username</th>
                            <th data-th-text="#{destinations.rest.show.service_params.password}">Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="col-sm-2">
                                <input type="text" data-th-field="${destination.method}"
                                       class="form-control"/>
                            </td>
                            <td class="col-sm-6">
                                <input type="text" data-th-field="${destination.serviceURI}"
                                       class="form-control"/>
                            </td>
                            <td class="col-sm-2">
                                <input type="text" data-th-field="${destination.serviceUsername}"
                                       class="form-control"/>
                            </td>
                            <td class="col-sm-2">
                                <input type="text" data-th-value="${@maskPasswordConverter.convert(destination.servicePassword)}"
                                       class="form-control"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-condensed" id="headers"
                        data-th-if="${destination.headers}">
                        <caption>
                            <strong data-th-text="#{destinations.rest.form.headers}">Headers</strong>
                        </caption>
                        <thead>
                            <tr>
                                <td data-th-text="#{destinations.rest.form.headers.key}">Name</td>
                                <td data-th-text="#{destinations.rest.form.headers.value}">Value</td>
                                <td class="col-sm-1 text-center">
                                </td>
                            </tr>
                        </thead>
                        <tbody class="table-body" id="headersBody">
                            <tr
                                data-th-each="header, headerIndex: *{destination.headers}">
                                <td class="col-sm-6"><input
                                    type="text"
                                    data-th-field="*{destination.headers[__${headerIndex.index}__].key}"
                                    id="header-0-name"
                                    class="form-control" /></td>
                                <td class="col-sm-6"><input
                                    type="text"
                                    data-th-field="*{destination.headers[__${headerIndex.index}__].value}"
                                    id="header-0-value"
                                    class="form-control" /></td>
                                <td class="col-sm-1 text-center">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="active" data-th-text="#{destinations.rest.show.active}">Active?</label>
            <div class="col-sm-4">
	            <label class="switch">
	                <input type="checkbox" data-th-field="${destination.active}"
	                       id="active"
	                       name="active"/>
	            </label>
            </div>
        </div>
    </fieldset>
    <a data-th-href="@{/destinations/rest/}" class="btn btn-default">
    	<img data-th-attr="src=@{/konker/images/icons-bt/back-icon-bt-01.svg}" class="bt-icon" />
        <span data-th-text="#{nav.back}"></span>
    </a>
</div>
</body>
</html>