<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Konker Cloud Platform</title>
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" data-th-href="@{/resources/konker/css/form-elements.css}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/konker/css/style.css}">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->    
    
    <link rel="shortcut icon" data-th-href="@{/resources/konker/images/favicon.png}" href="../resources/konker/images/favicon.png" sizes="16x16 32x32 48x48 56x56" type="image/vnd.microsoft.icon" />
    <link rel="apple-touch-icon-precomposed" data-th-href="@{/resources/konker/images/apple-touch-icon-144-precomposed.png}" href="../resources/konker/images/apple-touch-icon-144-precomposed.png" sizes="144x144" >
    <link rel="apple-touch-icon-precomposed" data-th-href="@{/resources/konker/images/apple-touch-icon-114-precomposed.png}" href="../resources/konker/images/apple-touch-icon-114-precomposed.png" sizes="114x114" >
    <link rel="apple-touch-icon-precomposed" data-th-href="@{/resources/konker/images/apple-touch-icon-72-precomposed.png}" href="../resources/konker/images/apple-touch-icon-72-precomposed.png" sizes="72x72" >
    <link rel="apple-touch-icon-precomposed" data-th-href="@{/resources/konker/images/apple-touch-icon-57-precomposed.png}" href="../resources/konker/images/apple-touch-icon-57-precomposed.png">
    
</head>
<body>
	<!-- Top content -->
    <div class="top-content">
    	<div class="inner-bg">
        	<div class="container">
                <div class="row">
                	<div class="col-sm-6 col-sm-offset-3 form-box">
                    	<div class="form-top">
                        	<div class="form-top-left">
                        		<h3 data-th-text="#{login.title}">Login to Konker Platform</h3>
                            	<p data-th-text="#{login.subtitle}">Enter your username and password to log on</p>
                        	</div>
                        	<div class="form-top-right">
                        		<img id="logo-konker" data-th-attr="src=@{/resources/konker/images/logo-konker.png}"/>
                        	</div>
                        </div>
                        <div class="form-bottom">
			            	<form id="formLogin" role="form" method="post" data-th-action="@{/login}" class="login-form">
			                	<div class="form-group">
			                    	<label class="sr-only" for="form-username">Username</label>
			                        <input type="text" name="username" th:placeholder="#{login.username.placeholder}" 
			                        	   class="form-username form-control" id="form-username" />
			                    </div>
			                    <div class="form-group">
			                    	<label class="sr-only" for="form-password">Password</label>
			                        <input type="password" name="password" th:placeholder="#{login.password.placeholder}" 
			                        	   class="form-password form-control" id="form-password" />
			                    </div>
			                    <div class="form-top-center" th:if="${param.error}" 
						        		th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
									<p th:text="${errorMsg}">Bad credentials</p>
						        </div>
			                    <button type="submit" class="btn"><p data-th-text="#{nav.login}"></p></button>
			            	</form>
		                </div>
                    </div>
                </div>

				<!-- <div class="row">
					<div class="col-sm-6 col-sm-offset-3 social-login">
						<h3>...or login with:</h3>
						<div class="social-login-buttons">
							<a class="btn btn-link-1 btn-link-1-facebook" href="#"> <i
								class="fa fa-facebook"></i> Facebook
							</a> <a class="btn btn-link-1 btn-link-1-twitter" href="#"> <i
								class="fa fa-twitter"></i> Twitter
							</a> <a class="btn btn-link-1 btn-link-1-git-hub" href="#"> <i
								class="fa fa-github"></i> Git Hub
							</a>
						</div>
					</div>
				</div> -->

			</div>
        </div>
    </div> 
            
<!-- Javascript -->
<script data-th-attr="src=@{/resources/konker/scripts/jquery-1.11.1.min.js}" type="text/javascript"></script>
<script data-th-inline="javascript">
    /*<![CDATA[*/
        window.jQuery || document.write('<script src="/resources/bootstrap/js/vendor/jquery.min.js"/>')

        function contextPath() {
            var context = /*[[@{/}]]*/ '/';
            return context;
        }

        function urlTo(path) {
            var url = (contextPath() + path).replace(/\/\//, '/'); /* avoids double slashs */
            return url;
        }
    /*]]>*/
</script>
<script data-th-attr="src=@{/resources/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/konker/scripts/jquery.backstretch.min.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/konker/scripts/scripts.js}" type="text/javascript"></script>
       
<!--[if lt IE 10]>
	<script src="assets/js/placeholder.js"></script>
<![endif]-->
</body>
</html>