<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
	<link data-th-href="@{/resources/konker/css/nv.d3.css}" rel="stylesheet" />
	<style>
		svg {
    		display: block;
		}
		#chart, svg {
			margin: 0px;
			padding: 0px;
			height: 400px;
			width: 95%;
		}
	</style>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset>
        <legend data-th-text="#{visualization.index.legend}"></legend>
        <div class="alert alert-danger hide" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <li></li>
        </div>
        
        <form id="visualizationForm" data-th-object="${visualization}" method="post" class="form-horizontal">
        	<input type="hidden" id="dataResult">
	        <div id="filter">
	        	<div class="form-group">
	                <label class="col-sm-1 control-label"
	                       data-th-text="#{visualization.index.interval}"></label>
	                
	                <label class="col-sm-1 control-label"
	                       data-th-text="#{visualization.index.date.start}"></label>
	                <div class="col-sm-2 input-group date" style="float: left;">
	                    <input type="text" class="form-control" data-th-field="*{dateStart}" id="dateStart" name="dateStart"/>
	                    <span class="input-group-addon">
	                    	<span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
	                  
	                <label class="col-sm-1 control-label"
	                       data-th-text="#{visualization.index.date.end}"></label>
	                <div class="col-sm-2 input-group date" style="float: left;">
	                    <input type="text" class="form-control" data-th-field="*{dateEnd}"/>
	                    <span class="input-group-addon">
	                    	<span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
	                
	                <label class="col-sm-1 control-label" 
	                 		data-th-text="#{visualization.index.online}" for="online"></label>
                	<div class="col-sm-4">
	                    <input type="checkbox" data-th-field="*{online}"
	                           id="online" name="online"/>
	                </div>
	                
	            </div>
	            
	        	<div class="form-group">
	                <label class="col-sm-1 control-label"
	                       data-th-text="#{visualization.index.device}"
	                       for="device"></label>
	                <div class="col-sm-4">
	                    <select class="form-control" data-th-field="*{deviceGuid}"
	                        id="device" name="device">
	                        <option data-th-value="${''}"
                                data-th-text="#{visualization.index.select.empty}"></option>
	                        <option data-th-each="device : ${devices}"
	                                data-th-value="${device.guid}"
	                                data-th-text="${device.deviceId + ' - ' + device.name}"></option>
	                    </select>
	                </div>
	                <img data-th-src="@{/resources/konker/images/loading.gif}" id="loading" class="ajax-loading"/>
	            </div>
	            
	            <div class="form-group">
	                <label class="col-sm-1 control-label"
	                       data-th-text="#{visualization.index.channel}"
	                       for="channel"></label>
	                <div id="div-channel" class="col-sm-4">
	                    <data-th-block data-th-include="visualization/channels :: channels">
						</data-th-block>
	                </div>
	            </div>
	            
	            <div class="form-group">
	                <label class="col-sm-1 control-label"
	                       data-th-text="#{visualization.index.metric}"
	                       for="metric"></label>
	                <div id="div-metric" class="col-sm-4">
	                    <data-th-block data-th-include="visualization/metrics :: metrics">
						</data-th-block>
	                </div>
	            </div>
	            
	            <div class="form-group col-sm-9">
	            	<button type="button" data-th-text="#{visualization.index.btn.apply}" class="btn btn-success  pull-right"></button>
	            </div>
	        </div>
	        
	        <div id="chart" class="with-3d-shadow with-transitions">
				<svg>
				</svg>
	        </div>
	        
	        <div id="data-event">
	        	<table class="table table-bordered table-hover">
		            <thead>
			            <tr>
			                <td class="col-md-2" data-th-text="#{visualization.index.column.timestamp}"></td>
			                <td class="col-md-10" data-th-text="#{visualization.index.column.eventsdata}"></td>
			            </tr>
		            </thead>
		            <tbody>
		            </tbody>
		        </table>
	        </div>
        </form>
    </fieldset>
</div>
<div data-layout-fragment="script">
	<script data-th-attr="src=@{/resources/konker/scripts/d3.min.js}"></script>
	<script data-th-attr="src=@{/resources/konker/scripts/nv.d3.min.js}"></script>
	<script data-th-attr="src=@{/resources/js/visualization/graph.js}"></script>
    <script data-th-attr="src=@{/resources/js/visualization/index.js}"></script>
	<script data-th-inline="javascript">
		graphService.setup('#7777ff',[[#{visualization.graph.label.axisx}]],[[#{devices.visualization.graph.no_data}]]);
	</script>
</div>
</body>
</html>