<configuration scan="true" scanPeriod="30 seconds">
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} [%p] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.konkerlabs.platform.registry" level="DEBUG" additivity="false">
        <appender-ref ref="consoleAppender" />
    </logger>

    <logger name="org.springframework.integration" level="DEBUG" additivity="false">
        <appender-ref ref="consoleAppender" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>
