<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Konker</title>

    <!-- Bootstrap core CSS -->
    <link data-th-href="@{/resources/bootstrap/css/bootstrap.min.css}" href="../../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link data-th-href="@{/resources/bootstrap/css/jumbotron.css}" href="../../resources/bootstrap/css/jumbotron.css" rel="stylesheet" />

    <link data-th-href="@{/resources/bootstrap/css/konker.css}" href="../../resources/bootstrap/css/konker.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">

                <img id="konker-header-logo" data-th-src="@{/resources/konker/images/logo_konker_header.png}" src="../../resources/konker/images/logo_konker_header.png" />
            </div>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-th-href="@{/devices}">Devices</a></li>
                        <li><a data-th-href="@{/rules}">Rules</a></li>
                        <li><a data-th-href="@{/enrichment}">Enrichment</a></li>
                        <li><a data-th-href="@{/dashboards/index.html} + '#dashboard/solr/' + ${@tenant.domainName} + '-events'"
                            target="_blank">
                            Dashboards</a></li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right collapsable">
                <li><a class="navbar-link" href="#"><span class="glyphicon glyphicon-wrench"></span></a></li>
                <li><a class="navbar-link" data-th-href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span></a></li>
                <li><a class="navbar-link" href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                <li><img class="user-photo" data-th-src="@{/resources/konker/images/foto_pessoa.png}" src="../../resources/konker/images/foto_pessoa.png" /></li>
            </ul>
            <!--/.navbar-collapse -->
        </div>
    </nav>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="wrap">
        <div class="container" data-layout-fragment="content">
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <hr/>
            <footer>
                <p>&copy; 2016 Konker Labs, Inc.</p>
            </footer>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script data-th-inline="javascript">
        /*<![CDATA[*/
            window.jQuery || document.write('<script src="/resources/bootstrap/js/vendor/jquery.min.js"/>')

            function contextPath() {
                var context = /*[[@{/}]]*/ '/';
                return context;
            }

            function urlTo(path) {
                var url = (contextPath() + path).replace(/\/\//, '/'); /* avoids double slashs */
                return url;
            }
        /*]]>*/
    </script>
    <script data-th-attr="src=@{/resources/bootstrap/js/bootstrap.min.js}"></script>
    <div data-layout-fragment="script">
    </div>
</body>

</html>
