<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset>
        <div>
            <h1 class="page-title" data-th-text="#{destinations.rest.form.legend}"></h1>
        </div>
        <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul>
            <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
            </ul>
        </div>
        <form data-th-action="@{__${action}__}" action="#" data-th-object="${destination}"
              method="post" class="form-horizontal" autocomplete="off">
            <input type="hidden" name="_method" data-th-value="${method}" data-th-if="${method != null}"/>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="name" data-th-text="#{destinations.rest.form.name}">Name</label>
                <div class="col-sm-4">
                    <input type="text" data-th-field="*{name}"
                           class="form-control"
                           id="name"
                           name="name" data-th-placeholder="#{destinations.rest.form.name.placeholder}" placeholder="Type a name here..."/>
                </div>
            </div>
            <div class="center-block">
                <div class="form-group form-group-sm">
                    <div class="col-md-10 center-block">
                        <table class="table table-condensed" id="parameters">
                            <caption>
                                <strong data-th-text="#{destinations.rest.form.service_params}">Destination Parameters</strong>
                            </caption>
                            <thead>
                                <tr>
                                    <td data-th-text="#{destinations.rest.form.service_params.method}">Method</td>
                                    <td data-th-text="#{destinations.rest.form.service_params.URL}">URL</td>
                                    <td data-th-text="#{destinations.rest.form.service_params.username}">Username</td>
                                    <td data-th-text="#{destinations.rest.form.service_params.password}">Password</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-sm-2">
                                        <select data-th-field="*{method}"
                                                class="form-control"
                                                id="method"
                                                name="method">
                                            <option data-th-each="methodItem: *{methodList}" data-th-text="${methodItem.code}"
                                                    data-th-value="${methodItem}"></option>
                                        </select>
                                    </td>
                                    <td class="col-sm-6">
                                        <input type="text" data-th-field="*{serviceURI}"
                                               class="form-control"/>
                                    </td>
                                    <td class="col-sm-2">
                                        <input type="text" data-th-field="*{serviceUsername}"
                                               class="form-control"/>
                                    </td>
                                    <td class="col-sm-2">
                                        <input type="text" data-th-field="*{servicePassword}"
                                               class="form-control"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="active" data-th-text="#{destinations.rest.form.active}">Active?</label>
                <div class="col-sm-4">
                    <input type="checkbox" data-th-field="*{active}"
                           id="active"
                           name="active"/>
                </div>
            </div>
            <button type="submit" class="btn btn-success" data-th-text="#{nav.save}">Save</button>
            <a data-th-href="@{/destinations/rest/}" class="btn btn-default" data-th-text="#{nav.back}">Back</a>
        </form>
    </fieldset>
</div>
</body>
</html>