<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset disabled="" class="form-horizontal">
        <legend>Enrichment</legend>
        <div class="alert alert-success" role="alert" data-th-if="${message != null}">
            <span data-th-text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="name">Name</label>
            <div class="col-sm-4">
                <input type="text" data-th-value="${dataEnrichmentExtension.name}"
                       class="form-control"
                       id="name"
                       name="name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="name">Type</label>
            <div class="col-sm-4">
                <input type="text" data-th-value="${dataEnrichmentExtension.type}"
                       class="form-control"
                       id="type"
                       name="type"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="description">Description</label>
            <div class="col-sm-6">
                <textarea id="description" class="form-control" name="description"
                          data-th-text="${dataEnrichmentExtension.description}">
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="incomingAuthority">Incoming Device</label>
            <div class="col-sm-4">
                <select class="form-control" data-th-field="${dataEnrichmentExtension.incomingAuthority}"
                        id="incomingAuthority" name="incomingAuthority">
                    <option data-th-text="'Select an option...'" data-th-value="none"></option>
                    <option data-th-each="device : ${allDevices}"
                            data-th-value="${device.deviceId}"
                            data-th-text="${device.deviceId + ' - ' + device.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="parameters">Service parameters</label>
            <div class="col-sm-8">
                <table id="parameters" class="table">
                    <tbody>
                    <tr data-th-each="parameter : ${dataEnrichmentExtension.parameters}">
                        <td class="col-sm-1"><label for="parameter" data-th-text="${parameter.key}"/></td>
                        <td class="col-sm-4"><input type="text" data-th-value="${parameter.value}" class="form-control" name="parameter" id="parameter"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="containerKey">Container key</label>
            <div class="col-sm-4">
                <input type="text" data-th-value="${dataEnrichmentExtension.containerKey}"
                       class="form-control"
                       id="containerKey"
                       name="containerKey"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label" for="active">Active?</label>
            <div class="col-sm-4">
                <input type="checkbox" data-th-checked="${dataEnrichmentExtension.active}"
                       id="active"
                       name="active"/>
            </div>
        </div>
    </fieldset>
    <a data-th-href="@{/enrichment}" class="btn btn-default">Back</a>
</div>
</body>
</html>