<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
</head>
<body>
    <div data-layout-fragment="content">
        <fieldset disabled="" class="form-horizontal">
            <legend data-th-text="#{devices.events.legend}"></legend>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="deviceId" data-th-text="#{devices.events.id}"></label>
                <div class="col-sm-4">
                    <input type="text" data-th-value="${device.deviceId}"
                            class="form-control"
                            id="deviceId"
                            name="deviceId"/>
                </div>
            </div>
            <div class="col-sm-4">
                <table class="table table-bordered" data-th-if="${recentEvents != null and !recentEvents.empty}">
                    <thead>
                        <tr>
                            <td class="col-md-1" data-th-text="#{devices.events.date_time}"></td>
                            <td class="col-md-2" data-th-text="#{devices.events.incoming.channel}"></td>
                            <td class="col-md-2" data-th-text="#{devices.events.payload}"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-th-each="event : ${recentEvents}">
                            <td data-th-text="${event.timestamp.toString()}"></td>
                            <td data-th-text="${event.incoming.channel}"></td>
                            <td data-th-text="${event.payload}"></td>
                        </tr>
                    </tbody>
                </table>
                <span data-th-if="${recentEvents == null or recentEvents.empty}" data-th-text="#{devices.events.empty_message}"></span>
            </div>
        </fieldset>
        <a data-th-href="@{/devices}" class="btn btn-default" data-th-text="#{nav.back}"></a>
    </div>
</body>
</html>