<!DOCTYPE html>
<html data-layout-decorate="~{layouts/default}">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset>
        <div>
            <h1 class="page-title" data-th-text="#{devices.index.legend}"></h1>
        </div>
        <div class="alert alert-success" role="alert" data-th-if="${message != null}">
            <span data-th-text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul>
            <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
            </ul>
        </div>
        <div>
            <a data-th-href="@{/devices/new}"
               data-th-text="#{nav.new}"
               class="btn btn-default action pull-right"></a>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-md-1" data-th-text="#{devices.index.id}"></th>
                <th class="col-md-1" data-th-text="#{devices.index.name}"></th>
                <th class="col-md-1" data-th-text="#{devices.index.active}"></th>
                <th class="col-md-1 text-center" data-th-text="#{devices.index.actions}"></th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="device : ${devices}">
                <td data-th-text="${device.deviceId}"></td>
                <td data-th-text="${device.name}"></td>
                <td>
                    <span data-th-if="${device.active}" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span data-th-if="${not device.active}" class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </td>
                <td class="text-center">
<!--                      <a data-th-href="@{/devices/{guid}(guid=${device.guid})}"
                       data-th-text="#{nav.show}"
                       class="btn btn-default"></a> -->
                    <a data-th-href="@{/devices/{guid}/edit(guid=${device.guid})}"
                       data-th-text="#{nav.edit}"
                       class="btn btn-default"></a>
                    <a data-th-href="@{/devices/{guid}/password(guid=${device.guid})}"
                       data-th-text="#{devices.index.access}"
                       class="btn btn-default"></a>
                    <a data-th-href="@{/devices/{guid}/events(guid=${device.guid})}"
                       data-th-text="#{devices.index.events}"
                       class="btn btn-default"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</div>
</body>
</html>