<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
<script>

</script>
</head>
<body>
    <div data-layout-fragment="content">
        <fieldset class="form-horizontal">
            <div>
                <h1 class="page-title" data-th-text="#{devices.password.legend}"></h1>
            </div>
            <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul>
                <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
                </ul>
            </div>
            <form data-th-action="@{__${action}__}" method="post">
                <div class="form-group">
                    <label class="col-sm-1 control-label"
                           data-th-text="#{devices.password.id}"
                           for="deviceId"></label>
                    <div class="col-sm-4">
                        <input type="text" data-th-readonly="true" data-th-value="${device.deviceId}"
                            class="form-control"
                            id="deviceId"
                            name="deviceId"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label"
                           data-th-text="#{devices.password.password}"
                           for="password"></label>
                    <div class="col-sm-4">
	                    <button type="button"
	                            data-toggle="modal" data-target="#confirmModal"
	                            data-th-text="#{devices.password.generate}"
	                            class="btn btn-default"></button>
                        <input type="hidden" data-th-readonly="true" id="password" class="form-control" name="apiKey"
                               data-th-value="${password}"/>
                    </div>
                </div>
            </form>

            <div class="modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-alignment-helper">
                    <div class="modal-dialog modal-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" data-th-text="#{nav.confirm}">Confirm</h3>
                            </div>
                            <div class="modal-body">
                                <p data-th-text="#{devices.password.modal.remove.firstLine}">You are about to generate a new authentication password.</p>
                                <p data-th-text="#{devices.password.modal.remove.secondLine}" data-th-if="${device.password != null}">Current password will be invalidated.</p>
                                <p data-th-text="#{devices.password.modal.remove.thirdLine}">Do you want to proceed?</p>
                            </div>
                            <div class="modal-footer">
                                <a id="btnYes" class="btn btn-primary" data-th-text="#{nav.yes}">Yes</a>
                                <a href="#" data-dismiss="modal" aria-hidden="true"
                                   data-th-text="#{nav.no}"
                                   class="btn btn-default">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-alignment-helper">
                    <div class="modal-dialog modal-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" data-th-text="#{devices.password.modal.generated.header}">Important Warning!</h3>
                            </div>
                            <div class="modal-body">
                                <div class="password-description visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
                                    <div class="password-warn pull-left">
                                        <p data-th-text="#{devices.password.modal.generated.firstLine}">Your new authentication password has been generated successfully.</p>
                                        <p data-th-text="#{devices.password.modal.generated.secondLine}">Please write it down and store it in a safe place.</p>
                                        <p th:inline="text"><strong><span th:text="#{devices.password.modal.generated.thirdLine}">This information won't be exhibited again.</span></strong></p>
                                        <p data-th-text="#{devices.password.modal.generated.fourthLine}">In case of loss, a new one must be generated.</p>
                                    </div>
                                    <div class="password-qrcode pull-right visible-lg visible-md">
                                        <img th:src="${qrcode}"/>
                                    </div>
                                </div>
                                <div class="password-secret">
                                    <p data-th-text="#{devices.password.modal.generated.fifthLine}">Your new password is:.</p>
                                    <hr>
                                    <div align="center">
                                        <h1 class="avoid-missundertand" data-th-text="${password}"></h1>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <a href="#" data-dismiss="modal" aria-hidden="true"
                                   data-th-text="#{devices.password.modal.generated.close}"
                                   class="btn btn-primary">Close</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#http">HTTP</a></li>
                <li><a data-toggle="tab" href="#mqtt">MQTT</a></li>
            </ul>
            <div class="tab-content">
                <div id="http" class="tab-pane fade in active" data-th-with="httpHostname=${pubServerInfo.httpHostname == 'localhost' ? '<IP>' : pubServerInfo.httpHostname}">
                    <ul class="list-group" id="http-list">
                        <li class="list-group-item"><b data-th-text="#{devices.show.http.username} + ': '"></b> <span data-th-text="${device.getUsername()}" class="avoid-missundertand"/></li>
                        <li class="list-group-item"><b data-th-text="#{devices.show.http.publication_url} + ': '"></b> <span data-th-text="${'http://'+httpHostname+':'+pubServerInfo.httpPort+'/pub/' + device.apiKey} + '/{' + #{devices.show.http.channel} + '}'" /></li>
                        <li class="list-group-item"><b data-th-text="#{devices.show.http.subscription_url} + ': '"></b> <span data-th-text="${'http://'+httpHostname+':'+pubServerInfo.httpPort+'/sub/' + device.apiKey} + '/{' + #{devices.show.http.channel} + '}'" /></li>
                        <li data-th-if="${#lists.contains(@environment.getActiveProfiles(), 'ssl')}"
                        	class="list-group-item">
                        	<b data-th-text="#{devices.show.http.publication_url.secure} + ': '"></b> 
                        	<span data-th-text="${'https://'+httpHostname+':'+pubServerInfo.httpsPort+'/pub/' + device.apiKey} + '/{' + #{devices.show.http.channel} + '}'"></span>
                        </li>
                        <li data-th-if="${#lists.contains(@environment.getActiveProfiles(), 'ssl')}"
                        	class="list-group-item">
                        	<b data-th-text="#{devices.show.http.subscription_url.secure} + ': '"></b> 
                        	<span data-th-text="${'https://'+httpHostname+':'+pubServerInfo.httpsPort+'/sub/' + device.apiKey} + '/{' + #{devices.show.http.channel} + '}'"></span>
                        </li>
                    </ul>
                </div>
                <div id="mqtt" class="tab-pane fade" data-th-with="mqttHostName=${pubServerInfo.mqttHostName == 'localhost' ? '<IP>' : pubServerInfo.mqttHostName}">
                    <ul class="list-group" id="mqtt-list">
                        <li class="list-group-item"><b data-th-text="#{devices.show.mqtt.username} + ': '"></b> <span data-th-text="${device.getUsername()}" class="avoid-missundertand"/></li>
                        <li class="list-group-item"><b data-th-text="#{devices.show.mqtt.hostname} + ': '"></b> <span data-th-text="${'mqtt://'+mqttHostName+':'+pubServerInfo.mqttPort}" /></li>
                        <li data-th-if="${#lists.contains(@environment.getActiveProfiles(), 'ssl')}"
                        	class="list-group-item"><b data-th-text="#{devices.show.mqtt.hostname.secure} + ': '">
                        	</b><span data-th-text="${'mqtts://'+mqttHostName+':'+pubServerInfo.mqttTlsPort}" /> 
                        </li>
                        <li class="list-group-item"><b data-th-text="#{devices.show.mqtt.publication_topic} + ': '"></b> <span data-th-text="${'pub/' + device.apiKey} + '/{' + #{devices.show.http.channel} + '}'" /></li>
                        <li class="list-group-item"><b data-th-text="#{devices.show.mqtt.subscription_topic} + ': '"></b> <span data-th-text="${'sub/' + device.apiKey} + '/{' + #{devices.show.http.channel} + '}'" /></li>
                    </ul>
                </div>
            </div>
            
            <a data-th-href="@{/devices}" data-th-text="#{nav.back}" class="btn btn-default"></a>
        </fieldset>
        
    </div>
    <div data-layout-fragment="script">
        <script data-th-attr="src=@{/resources/js/devices/password.js}"></script>
    </div>
</body>
</html>