<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
</head>
<body>
    <div data-layout-fragment="content">
        <fieldset class="form-horizontal">
            <legend data-th-text="#{devices.password.legend}"></legend>
            <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
            </div>
            <form data-th-action="@{__${action}__}" method="post">
                <div class="form-group">
                    <label class="col-sm-1 control-label"
                           data-th-text="#{devices.password.id}"
                           for="deviceId"></label>
                    <div class="col-sm-4">
                        <input type="text" data-th-disabled="true" data-th-value="${deviceId}"
                            class="form-control"
                            id="deviceId"
                            name="deviceId"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label"
                           data-th-text="#{devices.password.api_key}"
                           for="apiKey"></label>
                    <div class="col-sm-4">
                        <input type="text" data-th-disabled="true" id="apiKey" class="form-control" name="apiKey"
                               data-th-value="${apiKey}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label"
                           data-th-text="#{devices.password.password}"
                           for="password"></label>
                    <div class="col-sm-4">
                        <input type="password" data-th-disabled="true" id="password" class="form-control" name="apiKey"
                               data-th-value="${password}"/>
                    </div>
                    <button type="button"
                            data-toggle="modal" data-target="#confirmModal"
                            data-th-text="#{devices.password.generate}"
                            class="btn btn-default"></button>
                </div>
            </form>

            <div id="confirmModal" class="modal">
                <div class="modal-content">
                    <span href="#" data-dismiss="modal" aria-hidden="true" class="close">×</span>
                    <h3 data-th-text="#{nav.confirm}">Confirm</h3>
                    <p data-th-text="#{devices.password.modal.remove.firstLine}">You are about to generate a new authentication password.</p>
                    <p data-th-text="#{devices.password.modal.remove.secondLine}">Current password will be invalidated.</p>
                    <p data-th-text="#{devices.password.modal.remove.thirdLine}">Do you want to proceed?</p>
                    <a id="btnYes" class="btn btn-default" data-th-text="#{nav.yes}">Yes</a>
                    <a href="#" data-dismiss="modal" aria-hidden="true"
                       data-th-text="#{nav.no}"
                       class="btn btn-default">No</a>
                </div>
            </div>

        </fieldset>
        <a data-th-href="@{/devices}"
           data-th-text="#{nav.back}"
           class="btn btn-default"></a>
    </div>
    <div data-layout-fragment="script">
        <script data-th-attr="src=@{/resources/js/devices/password.js}"></script>
    </div>
</body>
</html>