<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div data-th-fragment="incoming">

    <div class="form-group">
        <label class="col-sm-1 control-label"
               data-th-text="#{routes.form.incoming.application}"
               for="incomingAuthority"></label>
        <div class="col-sm-4">
        	<input type="text" 
        		   data-th-value="${applicationName}"
	               id="incomingAuthority"
	               name="incomingAuthority"
	               disabled="disabled"/>
        </div>
    </div>
</div>
</body>
</html>