<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div data-th-fragment="incoming">

    <div class="form-group">
        <label class="col-sm-1 control-label"
               data-th-text="#{routes.form.incoming.device}"
               for="incomingAuthority"></label>
        <div class="col-sm-4">
            <select
                class="form-control col-md-12"
                data-th-field="*{incoming.authorityId}"
                id="incomingAuthority" name="incomingAuthority">
                <option data-th-each="device : ${allDevices}"
                        data-th-value="${device.guid}"
                        data-th-text="${device.deviceId + ' - ' + device.name}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label"
               data-th-text="#{routes.form.incoming.channel}"
               for="incomingChannel"></label>
        <div class="col-sm-4">
            <input type="text" data-th-field="*{incoming.authorityData['channel']}"
                   class="form-control"
                   id="incomingChannel"
                   name="incomingChannel" data-th-placeholder="#{routes.form.incoming.channel.placeholder}"/>
        </div>
    </div>

</div>
</body>
</html>