<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div data-th-fragment="incoming">

    <div class="form-group">
        <label class="col-sm-1 control-label"
               data-th-text="#{routes.form.incoming.device_model}"
               for="incomingAuthority"></label>
        <div class="col-sm-4">
            <select
                class="form-control col-md-12"
                data-th-field="${route.incoming.authorityIds[0]}"
                id="incomingAuthority0" name="incomingAuthority">
                <option data-th-each="deviceModel : ${allDeviceModels}"
                        data-th-value="${deviceModel.guid}"
                        data-th-text="${deviceModel.name}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label"
               data-th-text="#{routes.form.incoming.location}"
               for="incomingAuthority"></label>
        <div class="col-sm-4">
            <select
                class="form-control col-md-12"
                data-th-field="${route.incoming.authorityIds[1]}"
                id="incomingAuthority1" name="incomingAuthority">
                <option data-th-each="location : ${allLocations}"
                        data-th-value="${location.guid}"
                        data-th-text="${location.name}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label"
               data-th-text="#{routes.form.incoming.channel}"
               for="incomingChannel"></label>
        <div class="col-sm-4">
            <input type="text" data-th-field="${route.incoming.authorityData['channel']}"
                   class="form-control"
                   id="incomingChannel"
                   name="incomingChannel" data-th-placeholder="#{routes.form.incoming.channel.placeholder}"/>
        </div>
    </div>


</div>
</body>
</html>