<!DOCTYPE html>
<html data-layout-decorate="layouts/default" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset disabled="" class="form-horizontal">
        <div>
            <h1 class="page-title" data-th-text="#{routes.show.legend}"></h1>
        </div>
        <div class="alert alert-success" role="alert" data-th-if="${message != null}">
            <span data-th-text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label"
                   data-th-text="#{routes.show.name}"
                   for="name"></label>
            <div class="col-sm-4">
                <input type="text" data-th-value="${route.name}"
                       class="form-control"
                       id="name"
                       name="name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label"
                   data-th-text="#{routes.show.description}"
                   for="description"></label>
            <div class="col-sm-6">
                <textarea id="description" class="form-control" name="description"
                          data-th-text="${route.description}">
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 radio control-label"
                   data-th-text="#{routes.form.incoming.type}"></label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="incomingScheme"
                           data-th-text="#{routes.form.incoming.type.device}"
                           value="device" data-th-checked="${route.incomingScheme == 'device'}"></input>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="incomingScheme"
                           data-th-text="#{routes.form.incoming.type.model_location}"
                           value="modelLocation" data-th-checked="${route.incomingScheme == 'modelLocation'}"></input>
                </label>
                <label class="radio-inline">
                	<input type="radio" name="incomingScheme"
                           data-th-text="#{routes.form.incoming.type.application}"
                           value="application" data-th-checked="${route.incomingScheme == 'application'}"></input>
                </label>
            </div>
        </div>
        <div id="incomingFragment">
            <th:block data-th-include="routes/device-incoming :: incoming"
                      data-th-if="${route.incomingScheme == 'device'}">
            </th:block>
            <th:block data-th-include="routes/model-location-incoming :: incoming"
                      data-th-if="${route.incomingScheme == 'modelLocation'}">
            </th:block>
            <th:block data-th-include="routes/application-incoming :: incoming"
                      data-th-if="${route.incomingScheme == 'application'}">
            </th:block>
        </div>

        <div class="form-group">
            <label class="col-sm-1 radio control-label"
                   data-th-text="#{routes.show.outgoing.type}"></label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="outgoingScheme"
                           data-th-text="#{routes.show.outgoing.type.device}"
                           value="device" data-th-checked="${route.outgoingScheme == 'device'}"></input>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="outgoingScheme"
                           data-th-text="#{routes.show.outgoing.type.rest}"
                           value="rest" data-th-checked="${route.outgoingScheme == 'rest'}"></input>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="outgoingScheme"
                           data-th-text="#{routes.form.outgoing.type.model_location}"
                           value="modelLocation" data-th-checked="${route.outgoingScheme == 'modelLocation'}"></input>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="outgoingScheme"
                           data-th-text="#{routes.form.outgoing.type.amazon_kinesis}"
                           value="amazonKinesis" data-th-checked="*{route.outgoingScheme == 'amazonKinesis'}"></input>
                </label>
            </div>
        </div>
        <data-th-block data-th-include="routes/device-outgoing :: outgoing"
                       data-th-if="${route.outgoingScheme == 'device'}">
        </data-th-block>
        <data-th-block data-th-include="routes/rest-outgoing :: outgoing"
                       data-th-if="${route.outgoingScheme == 'rest'}">
        </data-th-block>
        <th:block data-th-include="routes/model-location-outgoing :: outgoing"
                  data-th-if="${route.outgoingScheme == 'modelLocation'}">
        </th:block>
        <th:block data-th-include="routes/amazon-kinesis-outgoing :: outgoing"
                  data-th-if="${route.outgoingScheme == 'amazonKinesis'}">
        </th:block>
        <div class="form-group">
            <label class="col-sm-1 control-label"
                   data-th-text="#{routes.show.message_filter}"
                   for="filteringExpression"></label>
            <div class="col-sm-4">
                <input type="text" data-th-value="${route.filteringExpression}"
                       class="form-control"
                       id="filteringExpression"
                       name="filteringExpression"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label"
                   data-th-text="#{routes.show.transformation_chain}"
                   for="transformation"></label>
            <div class="col-sm-4">
                <select class="form-control" data-th-field="${route.transformation}"
                        id="transformation" name="transformation">
                    <option data-th-value="${''}"
                            data-th-text="#{routes.show.transformation.none}"></option>
                    <option data-th-each="trans : ${allTransformations}"
                            data-th-value="${trans.id}"
                            data-th-text="${trans.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label"
                   data-th-text="#{routes.show.active}"
                   for="active"></label>
            <div class="col-sm-4">
	            <label class="switch">
	                <input type="checkbox" data-th-field="${route.active}"
	                       id="active"
	                       name="active"/>
	            </label>
            </div>
        </div>
    </fieldset>
    <a data-th-href="@{/routes}"
       class="btn btn-default">
       <img data-th-src="@{/resources/konker/images/icons-bt/back-icon-bt-01.svg}" class="bt-icon">
       <span data-th-text="#{nav.back}"></span>
    </a>

</div>
</body>
</html>