<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="IOT, Internet of things, Internet das coisas, Plataforma IoT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Konker">
    <meta name="description" content="A Plataforma Konker te ajuda a construir soluções IoT de maneira rápida e sem complicações">
    <title>Konker - A sua solução de IoT de forma ágil e sem complicação!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/bootstrap/css/4.0.0/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/konker/css/line-icons.css}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/konker/css/menu_sideslide.css}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/konker/css/main.css}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/konker/css/create-account.css}">
    <link rel="favicon" type="image/x-icon" data-th-href="@{/resources/konker/images/favicon.png}" />
</head>

<body>

<div data-th-include="menu :: menu" class="menu-wrap"></div>

<!-- Header Section Start -->
<div data-th-include="header :: header" class="fixed-top"></div>
<!-- Header Section End -->

<!-- Context Section Start -->
<div id="login-page" class="wrapper">
    <div class="container infos">
        <div class="row box-login">
            <div class="col-md-6 titles">
                <div class="titles-text">
                    <h1 data-th-text="#{users.form.subscription.phrase_start_using}"></h1>
                    <h2 data-th-text="#{users.form.subscription.phrase_optimized}"></h2>
                    <hr>
                    <p><span data-th-text="#{users.form.subscription.account_exists}"></span><a data-th-href="@{/}" class="btn btn-border"><span data-th-text="#{users.form.subscription.login_action}"></span></a></p>
                </div>
                <div>
                </div>
            </div>
            <div class="col-md-6 create">
                <h3 data-th-text="#{users.form.subscription.create_account}"></h3>
                <form
                        data-th-action="@{__${action}__}"
                        data-th-object="${user}"
                        id="formValidateEmail"
                        method="post"
                        class="login-form">
                    <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <ul>
                            <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="createName" data-th-text="#{users.form.subscription.name}"></label>
                        <input name="name" data-th-value="*{name}"
                               type="text"
                               class="form-control"
                               id="createName"
                               aria-describedby="name"
                               data-th-placeholder="#{users.form.subscription.placeholder.name}"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="createEmail" data-th-text="#{users.form.subscription.email}"></label>
                        <input name="email" data-th-value="*{email}"
                               type="email"
                               class="form-control"
                               id="createEmail"
                               aria-describedby="emailHelp"
                               data-th-placeholder="#{users.form.subscription.placeholder.email}"
                               required>
                        <small id="email" class="form-text text-muted">exemple@yourcompany.com</small>
                    </div>
                    <div class="form-group">
                        <label for="createPass" data-th-text="#{users.form.subscription.password}"></label>
                        <input name="newPassword" data-th-value="*{newPassword}"
                               type="password"
                               class="form-control"
                               id="createPass"
                               data-th-placeholder="#{users.form.subscription.placeholder.password}"
                               placeholder="Password"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="createConfPass" data-th-text="#{users.form.subscription.confirm.password}"></label>
                        <input name="newPasswordConfirmation" data-th-value="*{newPasswordConfirmation}"
                               type="password"
                               class="form-control"
                               id="createConfPass"
                               data-th-placeholder="#{users.form.subscription.placeholder.confirm_password}"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="createCompany" data-th-text="#{users.form.subscription.company}"></label>
                        <input name="tenantName" data-th-value="*{tenantName}"
                               type="text"
                               class="form-control"
                               id="createCompany"
                               data-th-placeholder="#{users.form.subscription.placeholder.company}"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="createJob" data-th-text="#{users.form.subscription.jobtitle}"></label>
                        <select data-th-field="*{job}"
                                class="form-control"
                                id="createJob"
                                required>
                            <option data-th-each="job : ${allJobs}"
                                    data-th-value="${job}"
                                    data-th-text="#{${job.code}}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="createPhone" data-th-text="#{users.form.subscription.phone}"></label>
                        <input name="phone" data-th-value="*{phone}"
                               type="tel"
                               class="form-control"
                               id="createPhone"
                               data-th-placeholder="#{users.form.subscription.placeholder.phone}"
                               required>
                    </div>
                    <button type="submit" class="btn btn-common" data-th-text="#{users.form.subscription.create_account_button}"></button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Footer Section Start -->
<footer data-th-include="footer :: footer"></footer>
<!-- Footer Section End -->

<script data-th-attr="src=@{/resources/konker/scripts/jquery-1.11.1.min.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/bootstrap/js/4.0.0/tether.min.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/bootstrap/js/4.0.0/bootstrap.min.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/konker/scripts/scripts.js}" type="text/javascript"></script>

<script data-th-attr="src=@{/resources/konker/scripts/jquery.backstretch.min.js}" type="text/javascript"></script>
<script>
    $.backstretch(
        "[[@{/resources/konker/images/login-bg-min.jpg}]]"
    );
</script>
<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 100%; width: 100%; z-index: -999999; position: fixed;">
    <img data-th-src="@{/resources/konker/images/login-bg-min.jpg}">
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script data-th-attr="src=@{/resources/konker/scripts/classie.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/konker/scripts/owl.carousel.min.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/konker/scripts/mixitup.min.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/konker/scripts/jquery.nav.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/konker/scripts/jquery.counterup.min.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/konker/scripts/jquery.magnific-popup.min.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/konker/scripts/wow.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/konker/scripts/menu.js}" type="text/javascript"></script>
<script data-th-attr="src=@{/resources/konker/scripts/main.js}" type="text/javascript"></script>

<!-- recovery pass js -->
<script src="https://www.google.com/recaptcha/api.js" async defer data-th-if="${recaptchaEnabled}"></script>
<script data-th-inline="javascript">
    /*<![CDATA[*/
    function contextPath() {
        var context = /*[[@{/}]]*/ '/';
        return context;
    }

    function urlTo(path) {
        var url = (contextPath() + path).replace(/\/\//, '/'); /* avoids double slashs */
        return url;
    }
    /*]]>*/
</script>
<script data-th-attr="src=@{/resources/js/users/userdialog.js(v2)}"></script>

</body>

</html>