<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Create Account Konker Platform</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/konker/css/create-account.css}">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img data-th-attr="src=@{/resources/konker/images/konker-principal.png}"  class="logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="nav navbar-nav navbar-right">
                <a href="http://www.konkerlabs.com" class="btn-menu"><span data-th-text="#{users.form.subscription.go_to_site}"></span></a>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="wrapper">
    <div class="infos">
        <div class="row">
            <div class="col-md-6 titles">
                <div class="titles-text">
                    <h1 data-th-text="#{users.form.subscription.phrase_start_using}"></h1>
                    <h2 data-th-text="#{users.form.subscription.phrase_optimized}"></h2>
                    <p><span data-th-text="#{users.form.subscription.account_exists}"></span><a data-th-href="@{/}"><span>&nbsp;</span><span data-th-text="#{users.form.subscription.login_action}"></span></a></p>
                </div>
                <div>
                </div>
            </div>
            <div class="col-md-6 create">
                <h3 data-th-text="#{users.form.subscription.create_account}"></h3>
                <p></p>
                <form
                        data-th-action="@{__${action}__}"
                        data-th-object="${user}"
                        id="formValidateEmail"
                        method="post"
                        class="login-form">
                    <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <ul>
                            <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="createName" data-th-text="#{users.form.subscription.name}"></label>
                        <input name="name" data-th-value="*{name}"
                               type="text"
                               class="form-control"
                               id="createName"
                               aria-describedby="name"
                               data-th-placeholder="#{users.form.subscription.placeholder.name}"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="createEmail" data-th-text="#{users.form.subscription.email}"></label>
                        <input name="email" data-th-value="*{email}"
                               type="email"
                               class="form-control"
                               id="createEmail"
                               aria-describedby="emailHelp"
                               data-th-placeholder="#{users.form.subscription.placeholder.email}"
                               required>
                        <small id="email" class="form-text text-muted">exemple@yourcompany.com</small>
                    </div>
                    <div class="form-group">
                        <label for="createPass" data-th-text="#{users.form.subscription.password}"></label>
                        <input name="newPassword" data-th-value="*{newPassword}"
                               type="password"
                               class="form-control"
                               id="createPass"
                               data-th-placeholder="#{users.form.subscription.placeholder.password}"
                               placeholder="Password"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="createConfPass" data-th-text="#{users.form.subscription.confirm.password}"></label>
                        <input name="newPasswordConfirmation" data-th-value="*{newPasswordConfirmation}"
                               type="password"
                               class="form-control"
                               id="createConfPass"
                               data-th-placeholder="#{users.form.subscription.placeholder.confirm_password}"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="createCompany" data-th-text="#{users.form.subscription.company}"></label>
                        <input name="tenantName" data-th-value="*{tenantName}"
                               type="text"
                               class="form-control"
                               id="createCompany"
                               data-th-placeholder="#{users.form.subscription.placeholder.company}"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="createJob" data-th-text="#{users.form.subscription.jobtitle}"></label>
                        <select data-th-field="*{job}"
                                class="form-control"
                                id="createJob"
                                required>
                            <option data-th-each="job : ${allJobs}"
                                    data-th-value="${job}"
                                    data-th-text="#{${job.code}}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="createPhone" data-th-text="#{users.form.subscription.phone}"></label>
                        <input name="phone" data-th-value="*{phone}"
                               type="tel"
                               class="form-control"
                               id="createPhone"
                               data-th-placeholder="#{users.form.subscription.placeholder.phone}"
                               required>
                    </div>
                    <button type="submit" data-th-text="#{users.form.subscription.create_account_button}"></button>
                </form>

            </div>

        </div>
        <div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script data-th-attr="src=@{/resources/konker/scripts/jquery-1.11.1.min.js}" type="text/javascript"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script data-th-attr="src=@{/resources/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>

        <script>
            $.backstretch("[[@{/resources/konker/images/login-bg.jpg}]]");
        </script>
        <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 637px; width: 1349px; z-index: -999999; position: fixed;"><img data-th-attr="src=@{/resources/konker/images/login-bg.jpg}" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1349px; height: 760.129px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -61.5643px;"></div>
    </div>
</div>
</body>
</html>