.version.index /* version checker */
{
	color: #00000E;
	background-color: #49EEBD;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 724px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#u281
{
	z-index: 2;
	min-height: 137px;
	padding-bottom: 587px;
	background: #000000 url("../images/login_home.jpg") no-repeat center center;
	background-size: cover;
}

#u281_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u288
{
	z-index: 3;
	width: 297px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 442px;
}

#u288_img
{
	padding-right: 7px;
}

#u281-bw
{
	z-index: 2;
	min-height: 137px;
}

#widgetu447
{
	z-index: 5;
	width: 0.01px;
	height: 236px;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: -304px;
}

#widgetu458
{
	z-index: 6;
	width: 340px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 614px;
}

#widgetu458.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 340px;
	height: 26px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u461-4
{
	z-index: 7;
	width: 328px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 6px;
	line-height: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu458.non-empty-st #u461-4 *
{
	font-style: normal;
}

#widgetu448
{
	z-index: 11;
	width: 340px;
	height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 614px;
}

#widgetu448.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 340px;
	height: 26px;
	min-height: 0px;
	margin: 34px -10000px 0px 0px;
}

#u449-4
{
	z-index: 12;
	width: 328px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 6px;
	line-height: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu458.fld-err-st #u461-4,#widgetu448.fld-err-st #u449-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu448.non-empty-st #u449-4 *
{
	font-style: normal;
}

#widgetu458.fld-err-st #u461-4 *,#widgetu448.fld-err-st #u449-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu458_input,#widgetu458_prompt,#widgetu448_input,#widgetu448_prompt
{
	width: 328px;
	min-height: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-style: italic;
	padding: 6px;
}

#widgetu458.fld-err-st #widgetu458_input,#widgetu458.fld-err-st #widgetu458_prompt,#widgetu448.fld-err-st #widgetu448_input,#widgetu448.fld-err-st #widgetu448_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu458.non-empty-st #widgetu458_prompt,#widgetu448.non-empty-st #widgetu448_prompt
{
	visibility: hidden;
}

#u462-4
{
	z-index: 16;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
}

#u452-4
{
	z-index: 20;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
}

#widgetu447.frm-sub-st #u462-4 p,#widgetu447.frm-subm-err-st #u452-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u463-4
{
	z-index: 24;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
}

#widgetu447.frm-sub-st #u462-4,#widgetu447.frm-subm-err-st #u452-4,#widgetu447.frm-subm-ok-st #u463-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu447.frm-subm-ok-st #u463-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u453-17
{
	z-index: 28;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 70px;
	background: url("../images/u453-17.png") no-repeat 0px 0px;
}

#u453-17:hover
{
	background: url("../images/u453-17-r.png") no-repeat 0px 0px;
}

#u453-17:active
{
	background: url("../images/u453-17-m.png") no-repeat 0px 0px;
}

#widgetu447.frm-sub-st #u453-17
{
	background: url("../images/u453-17-fs.png") no-repeat 0px 0px;
}

#widgetu465
{
	z-index: 45;
	width: 273px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 674px;
}

#widgetu465.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 273px;
	height: 20px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#widgetu469
{
	z-index: 46;
	width: 273px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu469.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 273px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u471-4
{
	z-index: 47;
	width: 256px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	text-align: left;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

#widgetu469.fld-err-st #u471-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 256px;
	margin: 0px -10000px 0px 0px;
}

#widgetu469.fld-err-st #u471-4 p,#widgetu469.fld-err-st #u471-4 span
{
	color: #D7244C;
}

#u472
{
	z-index: 51;
	width: 11px;
	height: 11px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u472 input.not_checked + label
{
	background: transparent url("../images/radiobuttonunchecked-u472-ru-fr.png") no-repeat center center;
	background-size: contain;
}
#u472 input:not(:checked) + label
{
	background: transparent url("../images/radiobuttonunchecked-u472-ru-fr.png") no-repeat center center;
	background-size: contain;
}

#u472 input.checked + label
{
	background: transparent url("../images/radiobuttonchecked-u472-rc-fr.png") no-repeat center center;
	background-size: contain;
}
#u472 input:checked + label
{
	background: transparent url("../images/radiobuttonchecked-u472-rc-fr.png") no-repeat center center;
	background-size: contain;
}

#u472 input.checked:active + label
{
	width: 11px;
	height: 11px;
	min-height: 0px;
	background: transparent url("../images/radiobuttoncheckedmousedown-u472-rc-m-fr.png") no-repeat center center;
	background-size: contain;
}
#u472 input:checked:active + label
{
	width: 11px;
	height: 11px;
	min-height: 0px;
	background: transparent url("../images/radiobuttoncheckedmousedown-u472-rc-m-fr.png") no-repeat center center;
	background-size: contain;
}

#u472 input.not_checked:active + label
{
	width: 11px;
	height: 11px;
	min-height: 0px;
	background: transparent url("../images/radiobuttonuncheckedmousedown-u472-ru-m-fr.png") no-repeat center center;
	background-size: contain;
}
#u472 input:not(:checked):active + label
{
	width: 11px;
	height: 11px;
	min-height: 0px;
	background: transparent url("../images/radiobuttonuncheckedmousedown-u472-ru-m-fr.png") no-repeat center center;
	background-size: contain;
}

#u472 input.not_checked:hover + label,#widgetu469.focus-st #u472 input.not_checked + label
{
	width: 11px;
	height: 11px;
	min-height: 0px;
	background: transparent url("../images/radiobuttonuncheckedrollover-u472-ru-r-fr.png") no-repeat center center;
	background-size: contain;
}
#u472 input:not(:checked):hover + label,#widgetu469.focus-st #u472 input:not(:checked) + label
{
	width: 11px;
	height: 11px;
	min-height: 0px;
	background: transparent url("../images/radiobuttonuncheckedrollover-u472-ru-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u472 input.checked:hover + label,#widgetu469.focus-st #u472 input.checked + label
{
	width: 11px;
	height: 11px;
	min-height: 0px;
	background: transparent url("../images/radiobuttoncheckedrollover-u472-rc-r-fr.png") no-repeat center center;
	background-size: contain;
}
#u472 input:checked:hover + label,#widgetu469.focus-st #u472 input:checked + label
{
	width: 11px;
	height: 11px;
	min-height: 0px;
	background: transparent url("../images/radiobuttoncheckedrollover-u472-rc-r-fr.png") no-repeat center center;
	background-size: contain;
}

#widgetu469_input
{
	width: 11px;
	height: 11px;
}

#u516
{
	z-index: 52;
	width: 340px;
	height: 1px;
	background-color: #FFD300;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 310px;
}

#u525
{
	z-index: 53;
	width: 142px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 292px;
	left: 413px;
}

#u507
{
	z-index: 54;
	width: 142px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u524-4
{
	z-index: 55;
	width: 142px;
	min-height: 48px;
	background-color: transparent;
	line-height: 48px;
	color: #FBBD00;
	font-size: 24px;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u526-4
{
	z-index: 59;
	width: 89px;
	min-height: 14px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 383px;
	left: 440px;
}

body
{
	position: relative;
	min-width: 960px;
}

