.version.menu_entrada /* version checker */
{
	color: #000014;
	background-color: #768F94;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1080px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -84px;
	padding-bottom: 718px;
	width: 0.01px;
}

#u541
{
	z-index: 2;
	min-height: 63px;
	padding-bottom: 14px;
	background: transparent url("../images/menu.png") no-repeat center center;
	background-size: cover;
}

#u541_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u953
{
	z-index: 3;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#menuu559
{
	z-index: 4;
	width: 66px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/icon1-menuu559-fr.png") no-repeat center center;
	background-size: contain;
}

#u570
{
	width: 66px;
	height: 48px;
	background-color: transparent;
	position: relative;
}

.ie #u570
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u570:hover
{
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon1-u570-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

.ie #u570:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u570:active
{
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon1-u570-r-fr.png") no-repeat center center;
	background-size: contain;
}

.ie #u570:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u570.MuseMenuActive
{
	background-image: none;
	background-color: transparent;
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu643
{
	z-index: 7;
	width: 66px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 76px;
	background: transparent url("../images/icon2-menuu643-fr.png") no-repeat center center;
	background-size: contain;
}

#u647
{
	width: 66px;
	height: 48px;
	background-color: transparent;
	position: relative;
}

.ie #u570.MuseMenuActive,.ie #u647
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u647:hover
{
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon2-u647-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

.ie #u647:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u647:active
{
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon2-u647-r-fr.png") no-repeat center center;
	background-size: contain;
}

.ie #u647:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u647.MuseMenuActive
{
	background-image: none;
	background-color: transparent;
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
}

#menuu727
{
	z-index: 13;
	width: 66px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 152px;
	background: transparent url("../images/icon3-menuu727-fr.png") no-repeat center center;
	background-size: contain;
}

#u731
{
	width: 66px;
	height: 48px;
	background-color: transparent;
	position: relative;
}

.ie #u647.MuseMenuActive,.ie #u731
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u731:hover
{
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon3-u731-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

.ie #u731:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u731:active
{
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon3-u731-r-fr.png") no-repeat center center;
	background-size: contain;
}

.ie #u731:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u731.MuseMenuActive
{
	background-image: none;
	background-color: transparent;
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
}

#menuu672
{
	z-index: 10;
	width: 66px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 228px;
	background: transparent url("../images/icon4-menuu672-fr.png") no-repeat center center;
	background-size: contain;
}

#u676
{
	width: 66px;
	height: 48px;
	background-color: transparent;
	position: relative;
}

.ie #u731.MuseMenuActive,.ie #u676
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u676:hover
{
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon4-u676-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

.ie #u676:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u676:active
{
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon4-u676-r-fr.png") no-repeat center center;
	background-size: contain;
}

.ie #u676:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u676.MuseMenuActive
{
	background-image: none;
	background-color: transparent;
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
}

#menuu696
{
	z-index: 16;
	width: 66px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 304px;
	background: transparent url("../images/icon5-menuu696-fr.png") no-repeat center center;
	background-size: contain;
}

#u567,#u644,#u728,#u673,#u697
{
	width: 66px;
	min-height: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u700
{
	width: 66px;
	height: 48px;
	background-color: transparent;
	position: relative;
}

.ie #u676.MuseMenuActive,.ie #u700
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u700:hover
{
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon5-u700-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

.ie #u700:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u700:active
{
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon5-u700-r-fr.png") no-repeat center center;
	background-size: contain;
}

.ie #u700:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u700.MuseMenuActive
{
	background-image: none;
	background-color: transparent;
	width: 66px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
}

#u954
{
	z-index: 19;
	width: 181px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 979px;
}

#menuu825
{
	z-index: 20;
	width: 33px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	background: transparent url("../images/icon6-menuu825-fr.png") no-repeat center center;
	background-size: contain;
}

#u827
{
	width: 33px;
	height: 24px;
	background-color: transparent;
	position: relative;
}

.ie #u700.MuseMenuActive,.ie #u827
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u827:hover
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon6-u827-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

.ie #u827:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u827:active
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon6-u827-r-fr.png") no-repeat center center;
	background-size: contain;
}

.ie #u827:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u827.MuseMenuActive
{
	background-image: none;
	background-color: transparent;
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
}

#menuu852
{
	z-index: 23;
	width: 33px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 47px;
	background: transparent url("../images/icon7-menuu852-fr.png") no-repeat center center;
	background-size: contain;
}

#u856
{
	width: 33px;
	height: 24px;
	background-color: transparent;
	position: relative;
}

.ie #u827.MuseMenuActive,.ie #u856
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u856:hover
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon7-u856-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

.ie #u856:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u856:active
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon7-u856-r-fr.png") no-repeat center center;
	background-size: contain;
}

.ie #u856:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u856.MuseMenuActive
{
	background-image: none;
	background-color: transparent;
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
}

#menuu868
{
	z-index: 26;
	width: 33px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 94px;
	background: transparent url("../images/icon8-menuu868-fr.png") no-repeat center center;
	background-size: contain;
}

#u826,#u853,#u869
{
	width: 33px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u870
{
	width: 33px;
	height: 24px;
	background-color: transparent;
	position: relative;
}

.ie #u856.MuseMenuActive,.ie #u870
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u870:hover
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon8-u870-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

.ie #u870:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u870:active
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon8-u870-r-fr.png") no-repeat center center;
	background-size: contain;
}

.ie #u870:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u886
{
	z-index: 29;
	width: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u541-bw
{
	z-index: 2;
	min-height: 63px;
}

#u557
{
	z-index: 31;
	width: 210px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 375px;
	margin-top: 271px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 84px;
}

