.version.menu_entrada /* version checker */
{
	color: #0000F6;
	background-color: #2259C7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1080px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -84px;
	padding-bottom: 718px;
	width: 0.01px;
}

#u541
{
	z-index: 2;
	min-height: 63px;
	padding-bottom: 14px;
	background: transparent url("../images/menu.png") no-repeat center center;
	background-size: cover;
}

#u541_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#menuu559
{
	z-index: 3;
	width: 66px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	background: transparent url("../images/icon1.png") no-repeat center center;
	background-size: contain;
}

#u567
{
	width: 66px;
	min-height: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u570
{
	width: 66px;
	background-color: transparent;
	padding-bottom: 31px;
	position: relative;
}

#u570:hover
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon1-u570-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

#u570:active
{
	width: 66px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon1-u570-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u570.MuseMenuActive
{
	background-image: none;
	background-color: transparent;
	width: 66px;
	min-height: 0px;
	margin: 0px;
}

#u571-3
{
	width: 66px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u570:hover #u571-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u570:active #u571-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u570.MuseMenuActive #u571-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u568
{
	width: 66px;
	background-color: transparent;
	top: 69px;
}

#u569,#u972
{
	width: 66px;
	background-color: transparent;
	position: relative;
}

#u973
{
	width: 65px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EE9EAF;
	padding-bottom: 6px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u973:hover
{
	background-color: #AAAAAA;
	width: 65px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u973.MuseMenuActive
{
	background-color: #666666;
	width: 65px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u975-4
{
	width: 58px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#u973:hover #u975-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u973.MuseMenuActive #u975-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u977
{
	width: 59px;
	background-color: transparent;
	left: 66px;
}

#u978,#u979
{
	width: 59px;
	background-color: transparent;
	position: relative;
}

#u980
{
	width: 57px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #EE9EAF;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u980:hover
{
	background-color: #AAAAAA;
	width: 57px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u980.MuseMenuActive
{
	background-color: #666666;
	width: 57px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u982-4
{
	width: 49px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u980:hover #u982-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u980.MuseMenuActive #u982-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u954
{
	z-index: 25;
	width: 181px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 979px;
}

#menuu825
{
	z-index: 26;
	width: 33px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	background: transparent url("../images/icon6-menuu825-fr.png") no-repeat center center;
	background-size: contain;
}

#u827
{
	width: 33px;
	height: 24px;
	background-color: transparent;
	position: relative;
}

.ie #u827
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u827:hover
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon6-u827-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

.ie #u827:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u827:active
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon6-u827-r-fr.png") no-repeat center center;
	background-size: contain;
}

.ie #u827:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u827.MuseMenuActive
{
	background-image: none;
	background-color: transparent;
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
}

#menuu852
{
	z-index: 29;
	width: 33px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 47px;
	background: transparent url("../images/icon7-menuu852-fr.png") no-repeat center center;
	background-size: contain;
}

#u856
{
	width: 33px;
	height: 24px;
	background-color: transparent;
	position: relative;
}

.ie #u827.MuseMenuActive,.ie #u856
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u856:hover
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon7-u856-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

.ie #u856:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u856:active
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon7-u856-r-fr.png") no-repeat center center;
	background-size: contain;
}

.ie #u856:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u856.MuseMenuActive
{
	background-image: none;
	background-color: transparent;
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
}

#menuu868
{
	z-index: 32;
	width: 33px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 94px;
	background: transparent url("../images/icon8-menuu868-fr.png") no-repeat center center;
	background-size: contain;
}

#u826,#u853,#u869
{
	width: 33px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u870
{
	width: 33px;
	height: 24px;
	background-color: transparent;
	position: relative;
}

.ie #u856.MuseMenuActive,.ie #u870
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u870:hover
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: #FAE4E8 url("../images/icon8-u870-r-fr.png") no-repeat center center;
	background-color: rgba(240,165,180,0.3);
	background-size: contain;
}

.ie #u870:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u870:active
{
	width: 33px;
	height: 24px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/icon8-u870-r-fr.png") no-repeat center center;
	background-size: contain;
}

.ie #u870:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u886
{
	z-index: 35;
	width: 40px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u541-bw
{
	z-index: 2;
	min-height: 63px;
}

#u557
{
	z-index: 37;
	width: 210px;
	min-height: 98px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 375px;
	margin-top: 271px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 84px;
}

