<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
    <style>
        .nopadding {
            padding-left: 0px; 
            padding-right: 0px;
        }
    </style>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset>
        <div>
            <h1 class="page-title" data-th-text="#{destinations.rest.form.legend}"></h1>
        </div>
        <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul>
            <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
            </ul>
        </div>
        <form data-th-action="@{__${action}__}" action="#" data-th-object="${destination}"
              method="post" class="form-horizontal" autocomplete="off">
            <input type="hidden" name="_method" data-th-value="${method}" data-th-if="${method != null}"/>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="name" data-th-text="#{destinations.rest.form.name}">Name</label>
                <div class="col-sm-4">
                    <input type="text" data-th-field="*{name}"
                           class="form-control"
                           autofocus
                           id="name"
                           name="name" data-th-placeholder="#{destinations.rest.form.name.placeholder}" placeholder="Type a name here..."/>
                </div>
            </div>
            <div class="center-block">
                <div class="form-group form-group-sm">
                    <div class="col-md-10 center-block">
                        <table class="table table-condensed" id="parameters">
                            <caption>
                                <strong data-th-text="#{destinations.rest.form.service_params}">Destination Parameters</strong>
                            </caption>
                            <thead>
                                <tr>
                                    <th data-th-text="#{destinations.rest.form.service_params.method}">Method</th>
                                    <th data-th-text="#{destinations.rest.form.service_params.URL}">URL</th>
                                    <th data-th-text="#{destinations.rest.form.service_params.username}">Username</th>
                                    <th data-th-text="#{destinations.rest.form.service_params.password}">Password</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-sm-2">
                                        <select data-th-field="*{method}"
                                                class="form-control"
                                                id="method"
                                                name="method">
                                            <option data-th-each="methodItem: *{methodList}" data-th-text="${methodItem.code}"
                                                    data-th-value="${methodItem}"></option>
                                        </select>
                                    </td>
                                    <td class="col-sm-6">
                                        <div class="col-sm-3 nopadding">
                                            <select data-th-field="*{serviceProtocol}"
                                                class="form-control"
                                                id="method"
                                                name="method">
                                                <option value="http">http://</option>
                                                <option value="https">https://</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-9 nopadding">
                                            <input type="text"
                                                placeholder="ex.: www.konkerlabs.com/api"
                                                data-th-field="*{serviceHost}"
                                                class="form-control" />
                                        </div>
                                    </td>
                                    <td class="col-sm-2">
                                        <input type="text" data-th-field="*{serviceUsername}"
                                               autocomplete="off"
                                               class="form-control password-input"/>
                                    </td>
                                    <td class="col-sm-2">
                                        <input type="text" data-th-field="*{servicePassword}"
                                               autocomplete="off"
                                               class="form-control password-input"/>
                                        <img data-th-attr="src=@{/resources/konker/images/eye-open.svg}" id="olho" class="password-eye" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-condensed" id="headers">
                            <caption>
                                <strong data-th-text="#{destinations.rest.form.headers}">Headers</strong>
                                <button class="btn btn-sm pull-right add-header" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    [[#{nav.add} ?: 'Add']]
                                </button>
                            </caption>
                            <thead>
                                <tr>
                                    <td data-th-text="#{destinations.rest.form.headers.key}">Name</td>
                                    <td data-th-text="#{destinations.rest.form.headers.value}">Value</td>
                                    <td class="col-sm-1 text-center"></td>
                                </tr>
                            </thead>
                            <tbody class="table-body" id="headersBody">
                                <tr
                                    data-th-each="header, headerIndex: *{headers}">
                                    <td class="col-sm-6"><input
                                        type="text"
                                        data-th-field="*{headers[__${headerIndex.index}__].key}"
                                        id="header-0-name"
                                        class="form-control" /></td>
                                    <td class="col-sm-6"><input
                                        type="text"
                                        data-th-field="*{headers[__${headerIndex.index}__].value}"
                                        id="header-0-value"
                                        class="form-control" /></td>
                                    <td class="col-sm-1 text-center">
                                        <button
                                            class="btn btn-sm remove"
                                            type="button">
                                            <span
                                                class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="col-md-10 center-block">
                        <strong data-th-text="#{destinations.rest.form.body}">Body</strong>
	                    <textarea id="body" class="form-control" name="body"
                              data-th-field="*{body}">
                    	</textarea>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
            	<label class="col-sm-2 radio control-label"
		        	data-th-text="#{destinations.rest.form.type}"></label>
		        <div class="col-sm-4">
		        	<label class="radio-inline">
		            	<input type="radio" name="type"
		                	data-th-text="#{routes.form.outgoing.type.device}"
		                    value="FORWARD_MESSAGE" data-th-checked="*{type == 'FORWARD_MESSAGE'}"></input>
		            </label>
		            <label class="radio-inline">
		            	<input type="radio" name="type"
		                	data-th-text="#{routes.form.outgoing.type.rest}"
		                    value="CUSTOM_BODY" data-th-checked="*{type == 'CUSTOM_BODY'}"></input>
		            </label>
		       	</div>
		 	</div>
            
            <div class="form-group">
                <label class="col-sm-1 control-label" for="active" data-th-text="#{destinations.rest.form.active}">Active?</label>
                <div class="col-sm-4">
	                <label class="switch">
	                    <input type="checkbox" data-th-field="*{active}"
	                           id="active"
	                           name="active"/>
	                </label>
                </div>
            </div>
            <button type="submit" class="btn btn-success">
				<img data-th-attr="src=@{/resources/konker/images/icons-bt/save-icon-bt-01.svg}" class="bt-icon" />
                <span data-th-text="#{nav.save}"></span>
			</button>
            <a data-th-href="@{/destinations/rest/}" class="btn btn-default">
            	<img data-th-attr="src=@{/resources/konker/images/icons-bt/back-icon-bt-01.svg}" class="bt-icon" />
                <span data-th-text="#{nav.back}"></span>
            </a>
            <!-- delete item -->
            <a class="btn btn-default confirm-delete"
               data-th-if="*{restId} != null">
            	<img data-th-attr="src=@{/resources/konker/images/icons-bt/trash-icon-bt-01.svg}" class="bt-icon" />
                <span data-th-text="#{nav.remove}"></span>   
            </a>
            <!-- delete confirm modal -->
            <div class="modal" id="removeItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-alignment-helper">
                    <div class="modal-dialog modal-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" data-th-text="#{nav.remove}">Remove</h3>
                            </div>
                            <div class="modal-body">
                                <p data-th-text="#{destinations.rest.form.modal.remove.firstLine}"></p>
                                <p data-th-text="#{destinations.rest.form.modal.remove.secondLine}"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnYes" class="btn btn-primary" data-th-text="#{nav.yes}">Yes</button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-default" data-th-text=#{nav.no}>No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </fieldset>
</div>
<div data-layout-fragment="script">
    <script data-th-attr="src=@{/resources/js/destinations/rest/form.js}"></script>
    <script data-th-attr="src=@{/resources/js/input-eye.js}"></script>
</div>
</body>
</html>