<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset>
        <div>
            <h1 class="page-title" data-th-text="#{destinations.rest.index.legend}"></h1>
        </div>

        <div class="alert alert-success" role="alert" data-th-if="${message != null}">
            <span data-th-text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul>
            <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
            </ul>
        </div>
        
         <div>
            <a data-th-href="@{/destinations/rest/new}"
               class="mb btn btn-theme action pull-right">
                <span class="glyphicon glyphicon-plus"></span>
                <span data-th-text="#{nav.new}"></span>
            </a>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="col-md-2" data-th-text="#{destinations.rest.index.name}">Name</th>
                <th class="col-md-1" data-th-text="#{destinations.rest.index.method}">Method</th>
                <th class="col-md-4" data-th-text="#{destinations.rest.index.service_uri}">Service URI</th>
                <th class="col-md-1" data-th-text="#{destinations.rest.index.status}">Active?</th>
                <th class="col-md-1 text-center" data-th-text="#{destinations.rest.index.actions}">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="destination : ${allDestinations}">
                <td data-th-text="${destination.name}"></td>
                <td data-th-text="${destination.method}"></td>
                <td data-th-text="${destination.serviceURI}"></td>
                <td>
                    <img data-konker-enabled-img="${destination.active}"></img>
                </td>
                <td class="text-center">
                    <!--  <a data-th-href="@{/destinations/rest/{id}(id=${destination.guid})}" class="btn btn-default" data-th-text="#{nav.show}">
                        Show
                    </a> -->
                    <a data-th-href="@{/destinations/rest/{applicationName}/{id}/edit(id=${destination.guid}, applicationName=${destination.application.name})}" class="btn btn-default">
                        <img data-th-attr="src=@{/resources/konker/images/icons-bt/edit-icon-bt-01.svg}" class="bt-icon" />
                       	<span data-th-text="#{nav.edit}"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</div>
</body>
</html>