<!DOCTYPE html>
<html data-layout-decorator="layouts/default">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset>
        <legend>SMS Destination</legend>
        <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
        </div>
        <form data-th-action="@{{url}(url=${action})}" action="#" data-th-object="${destination}"
              method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-1 control-label" for="name">Name</label>
                <div class="col-sm-4">
                    <input type="text" data-th-field="*{name}"
                           class="form-control"
                           id="name"
                           name="name" placeholder="Type a name here..."/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="description">Description</label>
                <div class="col-sm-6">
                        <textarea id="description" class="form-control" name="description"
                                  placeholder="Type some about your destination (optional)" data-th-field="*{description}">
                        </textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="phoneNumber">Name</label>
                <div class="col-sm-4">
                    <input type="text" data-th-field="*{phoneNumber}"
                           class="form-control"
                           id="phoneNumber"
                           name="phoneNumber" placeholder="Type the destination phone number here..."/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="active">Active?</label>
                <div class="col-sm-4">
                    <input type="checkbox" data-th-field="*{active}"
                           id="active"
                           name="active"/>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <a data-th-href="@{/destinations/sms/}" class="btn btn-default">Back</a>
        </form>
    </fieldset>
</div>
</body>
</html>