mqtt {
  subcribe {
    uris = [ "tcp://dev-server:1883" ]
    # yes, we subscribe to a topic named pub. "pub" is from the device perspective
    topics = [ "pub/+/+" ]
    username = "user"
    password = "pass"
  }
  publish {
    uris = [ "tcp://dev-server:1883" ]
    username = "user"
    password = "pass"
  }
}

mongo {
  hostname = "localhost"
  port = 27017
}

mongoAudit {
  hostname = "localhost"
  port = 27017
}

web {
  views {
    cache = false
  }
}

security {
  loginPage = "/login"
  successLoginUrl = "/"
}

sms {
  uri = "http://api.com/endpoint"
  username = "user"
  password = "pass"
  from = "+99999999999"
  enabled = true
}

solr {
  base.url = "http://localhost:8983/solr/"
}

redis {
    master.host = localhost,
    master.port = 6379
}

pubServer {
    httpHostname = "dev-server"
    httpPort = "8080"
    httpCtx = "registry"
    httpsPort = "443"
    mqttHostName = "dev-server"
    mqttPort = "1883"
    mqttTlsPort = "1883"
}

service {
	blacklist: [ "dev-server" ]
}

hotjar {
	id: 000000
	enable: true
}

integration {
    timeout: [
        {
            default = 30000
            enrichment = 30000
            sms = 30000
        }
    ]
}

konkerAnalytics {
  enabled = true
}

cdn {
    name:"konker.platform.user.bucket"
    prefix:"https://s3.amz-region.amazonaws.com"
    key:"yourawskey"
    secret:"yourawssecret"
    max-size = 500000
    file-types = "jpg,png,jpeg"
    enabled = true
}

password.user {
  hash.algorithm = "SHA256"
  salt.size = 16
  iterations = 10000
}

recaptcha {
  secretKey="abcdef123456"
  siteKey="abcdef123456"
  host="host"
  enabled = false
}

email {
	host="servidor.smtp"
	port="25"
	protocol="smtp"
	username="noreply@seudominio.com"
	sender="noreply@seudominio.com"
	password="admin123"
	baseurl="http://localhost:8080/"
}
