<!DOCTYPE html>
<html data-layout-decorator="layouts/default">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset>
        <legend>Rules</legend>
        <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
        </div>
        <form data-th-action="@{{url}(url=${action})}" action="#" data-th-object="${rule}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" data-th-field="*{name}"
                       class="form-control"
                       id="name"
                       name="name" placeholder="Type your rule name here..."/>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" class="form-control" name="description"
                          placeholder="Type some about your device (optional)" data-th-field="*{description}">
                </textarea>
            </div>
            <div class="form-group">
                <label for="incomingAuthority">Incoming Device</label>
                <select class="form-control" data-th-field="*{incomingAuthority}"
                    id="incomingAuthority" name="incomingAuthority">
                    <option data-th-each="device : ${allDevices}"
                            data-th-value="${device.deviceId}"
                            data-th-text="${device.deviceId + ' - ' + device.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="incomingChannel">Incoming channel</label>
                <input type="text" data-th-field="*{incomingChannel}"
                       class="form-control"
                       id="incomingChannel"
                       name="incomingChannel" placeholder="Type your incoming device's channel here..."/>
            </div>
            <div class="form-group">
                <label class="radio control-label">Outgoing type</label>
                <label class="radio-inline">
                    <input type="radio" name="outgoingScheme"
                           value="device" data-th-checked="*{outgoingScheme == 'device'}">Devices</input>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="outgoingScheme"
                           value="sms" data-th-checked="*{outgoingScheme == 'sms'}">SMS</input>
                </label>
            </div>
            <div id="outgoingFragment">
                <data-th-block data-th-include="rules/device-outgoing :: outgoing"
                               data-th-if="*{outgoingScheme == 'device'}">
                </data-th-block>
                <data-th-block data-th-include="rules/sms-outgoing :: outgoing"
                               data-th-if="*{outgoingScheme == 'sms'}">
                </data-th-block>
            </div>
            <div class="form-group">
                <label for="filterClause">Message filter</label>
                <input type="text" data-th-field="*{filterClause}"
                       class="form-control"
                       id="filterClause"
                       name="filterClause" placeholder="Type a text to be found on every incoming message..."/>
            </div>
            <div class="form-group">
                <label for="active">Active?</label>
                <input type="checkbox" data-th-field="*{active}"
                       id="active"
                       name="active"/>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <a data-th-href="@{/rules}" class="btn btn-default">Back</a>
        </form>
    </fieldset>
</div>
<div data-layout-fragment="script">
    <script data-th-attr="src=@{/resources/js/rules/form.js}"></script>
</div>
</body>
</html>