<!DOCTYPE html>
<html data-layout-decorator="layouts/default">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset>
        <legend>Rules</legend>
        <div class="alert alert-success" role="alert" data-th-if="${message != null}">
            <span data-th-text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <a data-th-href="@{/rules/new}" data-th-if="${not allDevices.empty}" class="btn btn-default action pull-right">New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td class="col-md-1">Name</td>
                <td class="col-md-1">Incoming</td>
                <td class="col-md-1">Outgoing</td>
                <td class="col-md-1">Active?</td>
                <td class="col-md-1 text-center">Actions</td>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="rule : ${rules}">
                <td data-th-text="${rule.name}"></td>
                <td data-th-text="${rule.incoming.uri}"></td>
                <td data-th-text="${rule.outgoing.uri}"></td>
                <td>
                    <span data-th-if="${rule.active}" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"/>
                    <span data-th-if="${not rule.active}" class="glyphicon glyphicon-thumbs-down" aria-hidden="true"/>
                </td>
                <td class="text-center">
                    <a data-th-href="@{/rules/{id}(id=${rule.id})}" class="btn btn-default">
                        Show
                    </a>
                    <a data-th-href="@{/rules/{id}/edit(id=${rule.id})}" class="btn btn-default">
                        Edit
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</div>
</body>
</html>