<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div data-th-fragment="outgoing">

	<div class="col-sm-12 list-group">
		<table class="table table-bordered"
			data-th-if="${recentOutgoingEvents != null and !recentOutgoingEvents.empty}">
			<thead>
				<tr>
					<th class="col-md-1" data-th-text="#{devices.events.date_time}"></th>
					<th class="col-md-2"
						data-th-text="#{devices.events.incoming.channel}"></th>
					<th class="col-md-3" data-th-text="#{devices.events.payload}"></th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="event : ${recentOutgoingEvents}">
					<td data-th-text="${{event.creationTimestamp}}"></td>
					<td data-th-text="${event.outgoing.channel}"></td>
					<td data-th-text="${event.payload}" class="json-data"></td>
				</tr>
			</tbody>
		</table>
		<span data-th-if="${recentOutgoingEvents == null or recentOutgoingEvents.empty}"
			data-th-text="#{devices.events.outgoing.empty_message}"></span>
	</div>

</div>
</body>
</html>