<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset>
        <div>
            <h1 class="page-title" data-th-text="#{transformations.form.legend}"></h1>
        </div>
        <div class="alert alert-danger" role="alert" data-th-if="${errors != null and !errors.empty}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul>
                <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
            </ul>
        </div>
        <form data-th-action="@{__${action}__}" action="#" data-th-object="${transformation}"
              method="post" class="form-horizontal" autocomplete="off">
            <input type="hidden" name="_method" data-th-value="${method}" data-th-if="${method != null}"/>
            <div class="form-group">
                <label class="col-sm-1 control-label"
                       data-th-text="#{transformations.form.name}"
                       for="name">Name</label>
                <div class="col-sm-4">
                    <input type="text" data-th-field="*{name}"
                           class="form-control"
                           id="name"
                           name="name"
                           data-th-placeholder="#{transformations.form.name.placeholder}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label"
                       data-th-text="#{transformations.form.description}"
                       for="description">Description</label>
                <div class="col-sm-6">
                    <textarea id="description" class="form-control" name="description"
                              data-th-placeholder="#{transformations.form.description.placeholder}"
                              data-th-field="*{description}">
                    </textarea>
                </div>
            </div>

            <div class="center-block">
                <div class="form-group form-group-sm">
                    <div class="col-md-10 center-block">
                        <table class="table table-condensed transformationSteps">
                            <caption>
                                <strong data-th-text="#{transformations.form.steps}">Transformation steps</strong>
                                <button class="btn btn-sm pull-right btn-add" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    [[#{nav.add} ?: 'Add']]
                                </button>
                            </caption>
                            <!--<thead>
                                <tr>
                                    <td class="col-sm-2" data-th-text="#{transformations.form.steps.method}">Method</td>
                                    <td class="col-sm-2" data-th-text="#{transformations.form.steps.url}">URL</td>
                                    <td class="col-sm-2" data-th-text="#{transformations.form.steps.username}">Username</td>
                                    <td class="col-sm-2" data-th-text="#{transformations.form.steps.password}">Password</td>
                                </tr>
                            </thead>
                            </table>
                            <table class="table table-condensed transformationSteps">-->
                            <tbody class="table-body">
                                <tr data-th-each="step, stat: *{steps}">
                                    <td class="col-sm-12">
                                        <div th:id="'step-'+ ${stat.index}" class="step">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td class="col-sm-2" data-th-text="#{transformations.form.steps.method}">Method</td>
                                                        <td class="col-sm-2" data-th-text="#{transformations.form.steps.url}">URL</td>
                                                        <td class="col-sm-2" data-th-text="#{transformations.form.steps.username}">Username</td>
                                                        <td class="col-sm-2" data-th-text="#{transformations.form.steps.password}">Password</td>
                                                    </tr>
                                                </thead>
                                                <tr class="restparams">
                                                    <td class="col-sm-2">
                                                        <select data-th-field="*{steps[__${stat.index}__].method}"
                                                                class="form-control"
                                                                name="method">
                                                            <option data-th-each="methodItem: *{methodList}"
                                                                    data-th-text="${methodItem.code}"
                                                                    data-th-value="${methodItem}"></option>
                                                        </select>
                                                    </td>
                                                    <td class="col-sm-3">
                                                        <input type="text" data-th-field="*{steps[__${stat.index}__].url}"
                                                               class="form-control"/>
                                                    </td>
                                                    <td class="col-sm-2">
                                                        <input type="text" data-th-field="*{steps[__${stat.index}__].username}"
                                                               class="form-control"/>
                                                    </td>
                                                    <td class="col-sm-2">
                                                        <input type="text" data-th-field="*{steps[__${stat.index}__].password}"
                                                               class="form-control"/>
                                                        <img data-th-attr="src=@{/resources/konker/images/eye-open.svg}" id="olho" class="password-eye" />
                                                    </td>
                                                    <td class="col-sm-1 text-center">
                                                        <button class="btn btn-sm remove-step" type="button">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </td>
                                                    <td class="col-sm-1 text-center">
                                                        <button data-toggle="collapse" th:data-target="'#restheaders-' + ${stat.index}"
                                                                class="btn btn-sm pull-right btn-open-header" type="button">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                            header
                                                        </button>

                                                    </td>
                                                </tr>
                                                <tr class="restheaders collapse" th:id="'restheaders-' + ${stat.index}">
                                                    <td class="col-sm-2">
                                                        <strong>Headers</strong>
                                                    </td>
                                                    <td class="col-sm-12">
                                                        <div class="col-md-16 center-block">
                                                            <table class="table table-condensed" id="transformationStepHeaders">
                                                                <thead>
                                                                <tr>
                                                                    <td>Name</td>
                                                                    <td>Value</td>
                                                                </tr>
                                                                </thead>
                                                                <tbody class="table-body">

                                                                <tr data-th-each="header, headerIndex: *{steps[__${stat.index}__].headers}" class="header-line">
                                                                    <td class="col-sm-6">
                                                                        <input type="text"
                                                                               data-th-field="*{steps[__${stat.index}__].headers[__${headerIndex.index}__].key}"
                                                                               class="form-control"/>
                                                                    </td>
                                                                    <td class="col-sm-6">
                                                                        <input type="text"
                                                                               data-th-field="*{steps[__${stat.index}__].headers[__${headerIndex.index}__].value}"
                                                                               class="form-control"/>
                                                                    </td>
                                                                    <td class="col-sm-1 text-center">
                                                                        <button class="btn btn-sm remove-header" type="button">
                                                                            <span class="glyphicon glyphicon-remove"></span>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                    <td class="col-sm-1 text-center">
                                                        <button class="btn btn-sm pull-right add-header" type="button">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                            [[#{nav.add} ?: 'Add']]
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button type="submit"
                    data-th-text="#{nav.save}"
                    class="btn btn-success">Save
            </button>
            <a data-th-href="@{/transformation}"
               data-th-text="#{nav.back}"
               class="btn btn-default">Back</a>
            <a class="btn btn-default" data-th-if="*{id} != null"
               data-th-text="#{nav.remove}" data-toggle="modal" data-target="#removeItemModal">Remove</a>

            <div class="modal" id="removeItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-alignment-helper">
                    <div class="modal-dialog modal-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" data-th-text="#{transformation.form.remove_confirmation}">Remove</h3>
                            </div>
                            <div class="modal-body">
                                <p data-th-text="#{transformation.form.remove_confirmation.about_to_remove}">You are about
                                    to remove this Transformation.</p>
                                <p data-th-text="#{transformation.form.remove_confirmation.proceed}">Do you want to
                                    proceed?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnYes" class="btn btn-primary" data-th-text="#{nav.yes}">Yes
                                </button>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-default"
                                        data-th-text=#{nav.no}>No
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>
<div data-layout-fragment="script">
    <script data-th-attr="src=@{/resources/js/transformations/form.js}"></script>
</div>
</body>
</html>