<!DOCTYPE html>
<html data-layout-decorate="layouts/default">
<head>
</head>
<body>
<div data-layout-fragment="content">
    <fieldset disabled="" class="form-horizontal">
        <div>
            <h1 class="page-title" data-th-text="#{transformations.show.legend}"></h1>
        </div>
        <div class="alert alert-success" role="alert" data-th-if="${message != null}">
            <span data-th-text="${message}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label"
                   data-th-text="#{transformations.show.name}"
                   for="name">Name</label>
            <div class="col-sm-4">
                <input type="text" data-th-value="${transformation.name}"
                       class="form-control"
                       id="name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label"
                   data-th-text="#{transformations.show.description}"
                   for="description">Description</label>
            <div class="col-sm-6">
                    <textarea id="description" class="form-control" name="description"
                              data-th-text="${transformation.description}">
                    </textarea>
            </div>
        </div>
        <div class="center-block">
            <div class="form-group form-group-sm">
                <div class="col-md-10 center-block">
                    <table class="table table-condensed" id="transformationSteps">
                        <caption>
                            <strong data-th-text="#{transformations.show.steps}">Transformation steps</strong>
                        </caption>
                        <thead>
                        <tr>
                            <th data-th-text="#{transformations.show.steps.method}">Method</th>
                            <th data-th-text="#{transformations.show.steps.url}">URL</th>
                            <th data-th-text="#{transformations.show.steps.username}">Username</th>
                            <th data-th-text="#{transformations.show.steps.password}">Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-th-each="step, stat: ${transformation.steps}">
                            <td class="col-sm-2">
                                <input type="text" data-th-value="${transformation.steps[__${stat.index}__].method}"
                                       class="form-control"/>
                            </td>
                            <td class="col-sm-6">
                                <input type="text" data-th-value="${transformation.steps[__${stat.index}__].url}"
                                       class="form-control"/>
                            </td>
                            <td class="col-sm-2">
                                <input type="text" data-th-value="${transformation.steps[__${stat.index}__].username}"
                                       class="form-control"/>
                            </td>
                            <td class="col-sm-2">
                                <input type="text" data-th-value="${transformation.steps[__${stat.index}__].password}"
                                       class="form-control"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
    <a data-th-href="@{/transformation}"
       data-th-text="#{nav.back}"
       class="btn btn-default">Back</a>
</div>
</body>
</html>