apiVersion: v1
kind: Service
metadata:
  name: {{ include "konker-registry-router-helm.fullname" . }}
  labels:
    app: {{ include "konker-registry-router-helm.name" . }}
    chart: {{ include "konker-registry-router-helm.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 8090
      targetPort: management
      protocol: TCP
      name: management
  selector:
    app: {{ include "konker-registry-router-helm.name" . }}
    release: {{ .Release.Name }}
