<!DOCTYPE html>
<html data-layout-decorate="~{layouts/default}">
<head>
</head>
<body>
<div data-layout-fragment="content">
              <div class="col-md-6 col-md-offset-3 error-page">
                  <h1 class="page-title-error" data-th-text="#{error.title}"> </h1>
                  <p data-th-text="#{error.text}"></p>
                  <br>
                  <a href="/" class="btn btn-theme btn-act" data-th-text="#{error.btn}" ></a> <br>
                  <img src="/resources/konker/images/error-1.png">
             </div>  
 </div>
</body>
</html>